[2017-03-22 23:33] cmyr opened #2 "Support theming"
xi-mac should be themeable. In the simplest case, this should involve support for the themes provided by [syntect](https://github.com/trishume/syntect), and ultimately it should also provide a UI for loading, editing, and saving new textmate / sublimetext theme files.

[2017-03-22 23:37] cmyr opened #3 "Add a preference pane"
This should be a standard ⌘-, preference pane; see the [Preference Pane Programming Guide](https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/PreferencePanes/PreferencePanes.html). At least initially it's somewhere that font preferences can live, and it can slowly and continuously bloat outwards from there.

[2017-03-22 23:44] cmyr opened #4 "horizontal scrolling?"
Currently, text which doesn't fit within the window is clipped, and there is no support for horizontal scrolling.

I can think of two general approaches:

1. Introduce support for horizontal scrolling if lines overflow the view. This is Sublime's behaviour. In this case, we would also want to think about how the gutter view behaves during scrolling; options are to either treat it as part of the co

[2017-03-23 16:13] raphlinus commented on #4
This is another feature that did partially work at some point, but has regressed. (It was even the case that the shadows drawn by the shadow view changed to give a visual indication).

What has always been missing, though, is the core measuring the maximum width and conveying it to the front-end (so scrolling would only happen if the window were narrow). This is made even more complex by the fact

[2017-03-23 17:53] cmyr commented on #4
I've been thinking about this as well in terms of line wrapping non-monospaced text; it is not clear to me that the core could ever be capable of independently calculating correct widths, because that will depend on the particular implementation details of a particular frontend's drawing system, which might be taking into account things like accessibility preferences that could affect drawing? Or

[2017-03-23 18:11] raphlinus commented on #4
My thinking regarding measurement is that the front-end supplies a "measure text" method; takes a string and attributes, returns a (float) width. It would probably be defined on arrays, to cut down on the number of individual RPC requests. The core would cache the results (generally on a "word" granularity), which would also cut down on the traffic. Further, there would be special casing for monos

[2017-03-23 18:22] cmyr commented on #4
Okay glad you're leaning in that direction, it seems like the best approach.

[2017-03-24 22:10] cmyr opened #7 "one more refactor? (NSDocument reconsiderations)"
### Should we ultimately be using the NSDocument Architecture?

Whether or not it was a good fit has come up various times, e.g https://github.com/google/xi-editor/issues/88#issuecomment-231558685 & https://github.com/google/xi-editor/pull/171#issuecomment-283773093. My initial motivation for merging the NSDocument changes was the built in support for tabbing, and my preference for moving more of

[2017-03-25 00:00] cmyr opened #9 "UI for find/replace"
From an earlier discussion:

This is a fun/non-trivial UI exercise, and I can think of at least three possible implementations off the bat: a panel to the side of the window (Xcode) a panel at the bottom or top (sublime) or a new window/popup of some kind.

a full-featured find & replace (especially "find in project") might be best served by a UI distinct from a simple find command.

[2017-03-25 02:56] raphlinus commented on #7
This sounds fine to me. Note that having multiple views for a single editor buffer (each with its own cursor state) will require some changes to the core, but I'm ok with that.

[2017-03-26 20:52] cmyr commented on #9
@raphlinus I have a very barebones implementation of a find UI at https://github.com/cmyr/xi-mac/tree/statusbar. it looks like this, and it sends two events, `find_next` and `find_prev` to the editor:

![screen shot 2017-03-26 at 4 48 01 pm](https://cloud.githubusercontent.com/assets/3330916/24335051/15e68b48-1244-11e7-847c-6c609dba1993.png)

It was mostly a proof of concept, and I'm not sure I'd

[2017-04-14 01:57] cbrewster opened #12 "Use a pinned version of xi-core"
Right now `xi-mac` assumes `xi-editor` is cloned inside the base directory. This causes issues if `xi-editor` has any breaking changes. It would be nice if `xi-mac` used a pinned version.

I propose that we use Cargo to add `xi-core-lib` as a dependency and have this repo contain the code to create the `xi-code` binary. If we use Cargo to pull in `xi-core-lib` as a dependency through git, it will

[2017-04-14 03:42] raphlinus commented on #12
@cmyr and I have chatted about this, and I think that a pinned version is indeed the best solution. I think having enough Rust to build the xi-core binary from xi-core-lib is fine to have duplicated.

It's worth noting that the Fuchsia front end pins to a released version of xi-core-lib on cargo. There are tradeoffs either way; git is almost certainly more flexible in allowing iteration without ha

[2017-04-14 04:20] cbrewster commented on #12
How should we go about handling retrieving plugins? Would it make sense to have those exist separate from the core and use a different strategy for fetching those?

[2017-04-14 04:49] raphlinus commented on #12
@cbrewster That's a good question. Ultimately the set of plugins will be quite open-ended. I think there's a distinction between a working editor and a _distribution_ which contains the editor, plugins, etc. There's a little discussion in #158.

That said, for a very small number of tightly bound plugins written in Rust, it would make sense to do something similar; package them as a lib, and have

[2017-04-14 15:24] cbrewster commented on #12
I have branches with the initial work behind this:
 * `xi-mac`: https://github.com/cbrewster/xi-mac/tree/use_xi_as_lib
 * `xi-editor`: https://github.com/cbrewster/xi-editor/tree/lib

[2017-04-14 15:26] cmyr commented on #12
I think (once multi plugin support is in place) we can come up with some approach to handling plugins on their own. I think the idea of _distributions_ is a good one, but I also think there might be value in something like [pathogen](https://github.com/tpope/vim-pathogen) (or vimplug etc) that lets you also specify plugins by path/repo (+commit).

Haven't given this _too_ much thought just yet.

[2017-04-15 22:38] cmyr opened #14 "insertion point flicker on paragraph movement"
The paragraph movement commands (`⌥↑` & `⌥↓`) cause the insertion point to flicker to the start or end of the line before being drawn at the end or the start of the line, respectively. In other words: wherever they're supposed to be drawn, they're first drawn for a frame in the wrong place.

Stepping through in the debugger, it looks like this action sends two RPCs; in the case of  `⌥↓`, it's `mov

[2017-04-15 22:41] cmyr opened #15 "display lag while modifying selection"
Currently, dragging and modifying a selection causes a perceptible display lag. This shouldn't happen. It might be simply that the calculation of deltas when sending updates hasn't been particularly optimized, and we're just invalidating big swathes of the line cache? If not then this is something to improve.

[2017-04-15 23:02] cmyr commented on #12
Having taken a look at this, it's probably an improvement? Although I also can imagine myself having a few frustrating moments during development when I forget to point `Cargo.toml` to a local path. Although I guess that's a [solved problem](http://doc.crates.io/config.html). 🤷‍♂️ I defer.

[2017-04-15 23:04] cbrewster commented on #15
Is this from after a build with https://github.com/google/xi-mac/commit/838bb31cecb0ca8d23a4208ed36d8fe21a43b233?

[2017-04-15 23:18] cmyr commented on #15
yea, there's still a perceptible display lag when dragging. Although after building for release it's much better. Which is definitely the benchmark. But if we're laggy even in debug we're doing something wrong somewhere.

But there's lots we can do around drawing performance that's been discussed elsewhere, I'll close this.

[2017-04-15 23:18] #15 closed

[2017-04-15 23:38] raphlinus commented on #12
It probably becomes a lot more important when the editor hits some usability milestones. Right now, most people building it are developers (who hopefully might contribute as well).

So I think it's worth doing, but I'm definitely not in a rush.

[2017-04-15 23:51] raphlinus commented on #14
This is an odd OSX thing; http://osxnotes.net/keybindings.html describes two actions in a row for these keybindings (`"~\Uf700"` and `"~\Uf701"`). I think it's done this way so repeatedly pressing the key makes progress through the document.

How to deal with it?  One possibility is to place a very short timeout on updates, aggregating them if they fall within the timer. I wouldn't do it for just

[2017-04-16 00:33] cmyr commented on #14
Interesting.

I've been thinking a lot about keybindings in the last day or two, and I've come to assume that at some point we would stop relying on the interpreted NSResponder events and start sending raw events to the core. (At least, this is the only good way I can imagine implementing modal editing, and I think it also has some merit for certain a certain category of particularly ambitious plu

[2017-04-17 17:33] wallywyyoung opened #17 "failed to run custom build command for `onig_sys v61.1.0`"
macOS 10.12.4
XCode 8.3.1 fresh from AppStore
Rust 1.16.0 off Homebrew

Ran build commands in README, produced this error:
failed to run custom build command for `onig_sys v61.1.0`

[2017-04-17 17:34] cmyr commented on #17
@wallywyyoung you need to run `cargo update` in rust/syntect-plugin` probably.

[2017-04-17 17:34] raphlinus commented on #17
Probably you don't have cmake installed? I wish this part were pure Rust...

[2017-04-18 04:53] jinyuanxie opened #18 "No IME support？"
I use XiEditor along with chinese input method, but the window of input method didn't follow the cursor.
![2017-04-18_12-38-10](https://cloud.githubusercontent.com/assets/15538025/25114942/1fb249ca-2435-11e7-81a5-ab1bd951b13a.gif)

[2017-04-18 05:08] pocket7878 commented on #18
https://github.com/google/xi-editor/pull/70

[2017-04-18 05:10] pocket7878 commented on #18
Hmm...
Maybe some changes affects to `func firstRect(forCharacterRange aRange: NSRange, actualRange: NSRangePointer?) -> NSRect`'s implementation

[2017-04-18 05:56] jinyuanxie commented on #18
@pocket7878 You are right, it always report like that `XiEditor[8625:49370] (0.0, 0.0, 0.0, 0.0)`, i'm trying to fix this issue.

[2017-04-18 06:03] pocket7878 commented on #18
@jinyuanxie Thank you!

[2017-04-18 06:06] pocket7878 commented on #18
It seems `cursorPos` didn't updated in draw method

[2017-04-18 07:23] jinyuanxie commented on #18
@pocket7878  Thank you! I will create a PR later, but there are another problem.
How should we handle the situation that have multi-cursor ?

[2017-04-18 08:15] pocket7878 commented on #18
Maybe we should define things like a "active cursor".

[2017-04-18 08:56] jinyuanxie commented on #18
Maybe we should wait backend for supporting "Multiple Cursors" https://github.com/google/xi-editor/issues/188

[2017-04-18 14:46] jpcaruana commented on #17
`brew install cmake` solved this issue for me. thanks

[2017-04-18 15:44] cmyr commented on #18
this will definitely be revisited when multi-cursor lands, but I'm not sure how IME would even work if you're inserting text in different contexts simultaneously. If you have any ideas I'm very curious! :)

[2017-04-18 17:48] wallywyyoung commented on #17
D'oh! Cmake was the culprit. Pitfalls of a new machine. Thank you @raphlinus.

[2017-04-18 17:48] #17 closed

[2017-04-18 19:21] wallywyyoung opened #20 "Choking on Long Lines"
Using xi-mac, I opened a relatively large XML file (2.1MB) and was quickly met with the spinny beachball of death.

Given the rope data structure design decision, I thought I'd use this as a sort of ground-truth test for large file handling.

Let me know if this ticket isn't appropriate, or if it isn't in the appropriate place.

Including file for independent verification.

Relates to xi-core #210

[2017-04-18 20:25] cmyr commented on #20
Okay, I opened a [radar](http://openradar.appspot.com/radar?id=5064141798637568) for this, but we should expect to need to work around it independently.

[2017-04-19 09:35] tsekityam commented on #18
I would like to further improve this behaviour.

The input box should not always follows the cursor. The box should appears at the position of active cursor, then the box's position should be fixed until the input is completed.

That's how the box works in Xcode (and most other editor, if not all),
![xcode](https://cloud.githubusercontent.com/assets/3814422/25173043/6082928e-2525-11e7-8409-2bb2464

[2017-04-19 10:25] jinyuanxie commented on #18
@tsekityam This behavior may fit XCode by choosing value shown below to update `cursorPos` orderly
- `markRangeStart`
- `selectedRangeStart`
- `cix`

Or maybe we should define their priority?

[2017-04-19 14:46] cmyr commented on #18
@tsekityam @pocket7878 @jinyuanxie  I believe you're right, and the implementation of `NSInputClient` is not currently correct. Happy to try and help with a fix. If you have any questions, some of us are in channel #xi on irc.mozilla.org.

[2017-04-21 01:50] NateLing opened #21 "UI line number"
![image](https://cloud.githubusercontent.com/assets/9606668/25259282/d3249384-2677-11e7-9763-04204638dc36.png)

like this picture, the line number error

[2017-04-21 01:58] cbrewster commented on #21
This happens when using a non-monospaced font.

[2017-04-21 02:02] cmyr commented on #21
yea we don't know how to measure 'character width' in a non-monospaced font. That's a holdover from older code, though, we could definitely be doing better here, by actually measuring the string in `updateGutterWidth()`

[2017-04-21 18:35] tsekityam commented on #18
I will try fixing the implementation of the protocol in this weekend.

[2017-04-21 19:42] basedjux opened #22 "Shell Script Invocation Error - Xcode 8"
I followed the compilation instructions but when I went to compile and run the project in Xcode 8.3.2, I get a "Shell Script Invocation Error"

The weird part is, when I use xcodebuild in the terminal it compiles just fine.

I'm running macOS 10.12.4 and Xcode 8.3.2, any ideas?

Stack trace from Xcode:
[code]

[2017-04-21 20:02] cmyr commented on #22
what version of rustc / cargo do you have installed?

[2017-04-21 21:05] cmyr opened #23 "move line length calculations to use CTLineEnumerateCaretOffsets"
According to Apple, this is the suggested way of doing line measurement, and should have linear performance. This is related to #20.

[2017-04-21 21:52] basedjux commented on #22
@cmyr I'm running Rust v1.16.0 and Cargo 0.16.0-nightly (3568be9 2016-11-26)

[2017-04-21 22:03] cmyr commented on #22
@basedjux try a more recent nightly? And check back?

[2017-04-21 22:04] basedjux commented on #22
@cmyr Will try that and report back. Thanks.

[2017-04-21 22:22] basedjux commented on #22
@cmyr okay. Uninstalled my current rustc and cargo installation... Installed the rustc and cargo nightly (rustc v 1.18.0-nightly & cargo 0.19.0-nightly).
Building in Xcode now works as expected! Thanks for the help 😄

[2017-04-21 23:19] cmyr commented on #22
great happy to hear. If you aren't using [rustup](rustup.rs) it makes managing rustc versions much easier.

[2017-04-22 00:27] basedjux commented on #22
@cmyr thanks! I'll check that out and start using it.

[2017-04-22 00:27] #22 closed

[2017-04-22 01:27] raphlinus opened #25 "Double call of close()"
Repro steps: open new editor, type "abc", ⌘-Q to quit, say "don't save".

[code]

Doing a little debugging, it looks like the close() method in Document.swift is being called twice. I don't know whether this is expected behavior (in which it should null out some of its own state on the first call and skip the second), or whether the NSDocument lifecycle is doing something dodgy to make this double

[2017-04-22 02:11] cmyr commented on #25
Yea this wasn't super heavily tested, and we're doing some weird stuff with NSDocument. I'll take a look in the next couple days if nobody beats me to it.

[2017-04-22 13:19] tsekityam commented on #18
I am almost done, and here is [the branch of my patch](https://github.com/tsekityam/xi-mac/tree/patch_review_nstextinputclient_protocol_implementation)

But there are two problems because of the "insert" requests are async, and I want to make it sync.

Some IME, such as Cangjie, will offer predictive completion.

After the marked text, **日日日**,  is replaced by the word **晶**; the input box will st

[2017-04-22 13:25] tsekityam commented on #18
I just notice that the predictive completion offered in Xi is different from EditText, even if the input are the same **晶**, I will take a look at this.

[2017-04-22 14:38] jinyuanxie commented on #18
`selectedRange()` and `markedRange()` seems report the right value.

In my opinion, the previous implement, the `_markedRange` is **relative** position of the `cursorPos`. But the `_selectedRange` is wrong. This implement, the `_markedRange` and `_selectedRange` is **relative** position of the **first line of the viewport**, not the whole document.

Although the `NSTextInputClient` document point

[2017-04-22 15:30] tsekityam commented on #18
The value of the ranges will be used in other function. e.g. they will be set as the parameter of `func firstRect(forCharacterRange range: NSRange,
   actualRange: NSRangePointer?) -> NSRect`, when the app wants to show the IME input box.

If the value of the range are relative position, then `firstRect` function will receive a relative range, which is not expected. As a result, we have to ignore

[2017-04-22 15:37] tsekityam commented on #18
By the way, the cause of the strange predictive completion suggestion is that, we didn't implement  protocol correctly.

The IME is using the result of protocol functions, `- (NSAttributedString *)attributedSubstringForProposedRange:(NSRange)range actualRange:(NSRangePointer)actualRange;` or `- (NSAttributedString *)attributedString;` to get the word for prediction.

If any of these functions is i

[2017-04-22 19:47] #25 closed

[2017-04-23 07:31] jinyuanxie commented on #18
Here is my thought about IME support:

* Consider the __relative__ or __absolute__ position should be used.
* How to handle multi-selection/cursor?
* Should we use temporary variable to storage the marked text instead of call backend to do insertions. The related behavior can be described as follow:
    1. I selected some text, then type something using InputMethod.
    2. I want to discard the ty

[2017-04-23 08:01] tsekityam commented on #18
* How to handle multi-selection/cursor?
    Mark last added selection/cursor as main selection/cursor, and return it from `selectedRange()`.

    If there is marked text to be inserted, then we drop all non-main selection/cursor and only set marked text to main selection/cursor.

    **TL;DR:** don't support multi selection/cursor in IME input

    ***
    P.S. Atom supports IME input with multipl

[2017-04-24 01:29] NateLing commented on #21
@cbrewster  @cmyr   i am a web developer. in CSS compute fonts width throw font-size*characters. i dont know any help for you.

[2017-04-28 14:15] jansol commented on #18
For multiple cursors, the easiest and most intuitive behaviour would probably be showing the IME box at the cursor that was placed last.

[2017-05-04 12:23] chriskrycho commented on #12
If you're using a pinned version, thoughts on doing it as a git submodule? We use that approach for several projects at work and it works fairly well.

[2017-05-05 05:27] rkusa commented on #21
I am wondering if the naive solution of `gutterColumns * max(stringWidth("0"), stringWidth("1"), stringWidth("2"), ..., stringWidth("9"))` (i.e. find out which of the numbers from 0-9 is the widest und use that as a replacement for the current `textMetrics.fontWidth`) is good enough?

This does not take kerning and ligatures into account, but since they usually tighten the spacing instead of widen

[2017-05-05 06:57] rkusa commented on #20
I am wondering if, since the core/backend will know about string widths eventually, the core could provide the graphical cursor position instead of relying on the frontend. But I am not sure about the performance implications when selecting a lot of text ...

[2017-05-05 14:50] raphlinus commented on #20
Thanks for the investigation. I was quite skeptical, you'd almost always expect iterating on an enumeration API to be slower than getting one value (assuming you just want the one value; if you need all of them for some reason, then of course enumeration can be better).

I'm curious enough about this that I'm very tempted to reverse engineer why the algorithm is so bad from an asymptotic complexit

[2017-05-05 16:04] cmyr commented on #21
I don't particularly dislike this approach? Seems like a reasonable hack. Another option to consider is just baking in Inconsolata, and not letting the gutter font be changed... 🤔

[2017-05-05 16:07] raphlinus commented on #21
A simpler approach would just be to measure 9's. It seems unlikely this
would be seriously wrong.

On May 5, 2017 9:05 AM, "Colin Rofls" <notifications@github.com> wrote:

[2017-05-05 16:11] cmyr commented on #21
Another option: when we're drawing each line number, we calculate expected drawing bounds. We could check this against the current gutter width, and if the width is inadequate we could fire a notification or otherwise indicate that the gutterview needs to be resized.

We could also just stash the max of this in the gutterview, and invalidate if the line count decreases?

[2017-05-05 16:19] cbrewster commented on #21
Take the following example:
There is a file with 100+ lines, but we are only viewing the top 30 lines. The gutter will be the max width for 2 characters, but then as you scroll with lines 100+, the gutter would then resize to 3 characters wide. It would seem odd for the gutter to change width while scrolling.

[2017-05-05 16:22] cmyr commented on #21
@cbrewster yea I was thinking about the corollary of this problem during the initial implementation: in a file with 10m lines, it looks weird to have a really wide gutter with a single number.

I agree with you in the general case, and I think for the time being just using `gutterColumns * stringWidth("9")` seems reasonable?

[2017-05-05 19:43] rkusa commented on #20
We could, as a first step, reduce the usage of `CTLineGetOffsetForStringIndex`. There was at least one position where the same position was calculated twice. Additionally, I think `CTLineGetOffsetForStringIndex` is currently calculated for each `draw` call. So we could update the code to only re-calculate the offset once the cursor position has changed.

[2017-05-05 19:46] raphlinus commented on #20
As an extremely general principle, we can (and I think should) compute as much as possible in the line cache, up to actually drawing onto a surface.

Similarly, the line cache is also (I believe) the correct place to do a difficulty analysis on the string, specifically the check for ascii-only. This is probably the biggest bang for the buck right now.

[2017-05-05 19:56] cmyr commented on #23
As per @rkusa's demonstration in #31, this is not a suitable solution.

[2017-05-05 19:56] #23 closed

[2017-05-07 20:34] rkusa opened #34 "Missing lines requested and send multiple times on fast scrolling"
Example console output:

[code]

Since a request of missing lines is send on each draw call, requests for the same or overlapping ranges are sometimes send multiple times, because the response for the previous request has not arrived yet.

My initial expectation was, that even though the `core` receives requests for the same range multiple times, it only sends the lines once (due to its cache of `

[2017-05-07 20:43] raphlinus commented on #34
This optimization should be done by the FE, not the core. The core has no way of knowing whether the re-request is redundant, or it is because the FE has evicted the lines from its cache. The FE, on the other hand, can distinguish these cases.

Cut'n'paste from IRC:

<raph> having given it a bit of thought, i think the single most important thing that can improve scrolling performance is for the F

[2017-05-08 21:59] daubaris opened #36 "Build failed"
Got this error message while trying to build xi-mac:
[code]

[2017-05-08 22:08] cmyr commented on #36
1. Is your rustc installed via homebrew? (if yes, try installing via [rustup](https://www.rustup.rs))
2. can you build xi-core itself? (run `cargo build` from `xi-mac/xi-editor/rust/core-lib`).

[2017-05-09 17:31] daubaris commented on #36
Rustc wasnt working when installed via `curl https://sh.rustup.rs -sSf | sh` on mac, so I downloaded it with `curl -sf -L https://static.rust-lang.org/rustup.sh | sh` and everything worked as I expected. Thanks.

[2017-05-09 17:31] #36 closed

[2017-05-11 12:35] rtsuk opened #37 "Create prototype file browser"
Initially create entirely in the Mac front end using NSOutlineView/NSFileManager.

[2017-05-23 20:22] troplin opened #42 "High resource usage and freezing with `syntect` plugin"
When opening a file, the `syntect` plugin is always active, regardless if I disabled it before. This seems to lead to a very high resource usage, curiously in the `XiEditor.app` process, not in the `xi-syntect-plugin` process (According to ActivityMonitor).

The memory rises to something that seems to be proportional to the file size, and the UI is freezing (beachballing) for quite some time (up t

[2017-05-23 20:36] trishume commented on #42
I think the problem is that the highlighting protocol is currently very dumb and tries to send the entire text of the file as JSON to the syntect plugin synchronously. This hangs the core process and the plugin.

The plan is to fix this at some point by implementing [this incremental highlighting and caching method](https://github.com/google/xi-editor/blob/master/doc/rope_science/rope_science_11.m

[2017-05-23 20:38] cmyr commented on #42
This might be a good argument to not be running any plugins at startup. That was really more a proof-of-concept anyway, happy to pull for now.

[2017-05-23 20:42] troplin commented on #42
If that's the case I wonder why it's the `XiEditor` process that consumes all the resources, not `xi-core` or `xi-syntect-plugin`. At least that's what ActivityMonitor says.

[2017-05-23 23:20] cmyr commented on #42
Do these files contain any really long lines? This could be #20.

[2017-05-24 00:10] trishume opened #43 "Clicking only un-highlights visible area"
### Steps to reproduce:
- open large document
- press mouse button to start dragging
- move cursor above or below window to quickly select more than one screen of document
- click the cursor in the window to de-select the large selection
- scroll down or up: lines outside the viewport you clicked on will still have blue highlight
- enter a character to invalidate line cache
- scroll down or up: li

[2017-05-24 00:16] trishume opened #44 "Spamming cmd+z and cmd+shift+z only shows on release"
### Steps to reproduce
- Set key repeat rate to maximum in System Preferences
- Do a bunch of separate edits in a document (I do this by `a,left,a,left,...`)
- Hold down `cmd+z`, notice "Edit" menu flashing quickly but not all edits immediately dissapearing
- Release `cmd+z`, notice all undos immediately take effect
- Do same for `cmd+shift+z`, notice re-do doesn't take effect until release

This

[2017-05-24 08:12] rkusa commented on #44
Same when moving back and forth between search results by keeping `cmd+g` or `cmd+shift+g` pressed (in my xi-mac branch for google/xi-editor#286)

[2017-05-24 22:16] #43 closed

[2017-05-24 22:33] cmyr commented on #42
okay, this memory usage does seem to be linked to json updates initiated by syntect. This stuff is about to get touched as part of other work, I'm tempted to just move back to disabling all plugins by default but at the same time it isn't like xi-mac is a usable editor at this point anyway.

[2017-05-24 22:50] cmyr commented on #42
@troplin Still a little curious about the non-responsive UI, though, which I couldn't reproduce. What hardware are you running? Is it possible that Xi's memory usage is pushing you against system memory limits? If that isn't the case, could you check that this still happens when the file is on a local drive?

Is this run through Xcode or stand-alone?

Is this a release build or a debug build?

Is

[2017-05-25 09:44] troplin commented on #42
My hardware:
- iMac Early 2009
- 2.93 GHz Core 2 Duo
- 4GB RAM

I have to say that my system behaves a bit strange from time to time. The OS has been updated many times without a clean install for a long time.
Im not sure if that's just the new OS on an old machine or if there's something wrong somewhere.

I'm running it standalone, current master, release build.
The effect is the same if the file

[2017-05-25 16:57] visualex opened #45 "error: failed to run `rustc` to learn about target-specific information"
Hi!
This is the tail of my output:

error: failed to run `rustc` to learn about target-specific information
** BUILD FAILED **
The following build commands failed:
	ExternalBuildToolExecution xicore

[2017-05-25 17:01] trishume commented on #45
Do you have the Rust compiler installed? This looks like it can't find the Rust compiler.

[2017-05-26 05:10] visualex commented on #45
i do (rustc 1.13.0 (2c6933acc 2016-11-07))
i tried to "cargo build" the backend and got the same:
error: failed to run `rustc` to learn about target-specific information
error: unknown crate type: `proc-macro`

[2017-05-26 13:31] cmyr commented on #45
@visualex I think we require rust 1.17 or higher. We also recommend installing via [rustup](rustup.rs), instead of homebrew.

[2017-05-26 13:56] visualex commented on #45
@cmyr thanks, installing from rustup worked!!

[2017-05-26 13:56] #45 closed

[2017-06-06 21:49] trishume opened #50 "Highlights misaligned with bold text"
Background-color highlights like are used for find matches and selection and the source text don't align properly in the presence of bold text. I assume because the rendering takes into account the style but the measurement doesn't.

I discovered this while playing around with https://github.com/google/xi-editor/pull/335 and noticing that the highlights weren't aligned correctly in Rust function d

[2017-06-06 22:01] raphlinus commented on #50
Good catch. Most of us are using monospaced font, where this wouldn't come up, but it should be fixed for the general case.

I think the ultimate solution to this is to store attributed text lines (maybe CTLine) in the line cache, not json'ish data structures. Then when we do measurement from those, it should always line up with the drawing. Extra bonus, should be a considerable performance improv

[2017-06-25 01:40] dsego opened #52 "Error while editing a file"
Typing in text works for a while and then it stops responding. Latest master.
[code]

[2017-06-25 03:26] cmyr commented on #52
Hmm that's interesting. I haven't seen this crash before. Were any plugins activated, besides the syntax coloring? Have you seen it more than once? @trishume might have a better idea of what's going on here, he rewrote this recently.

[2017-06-25 04:24] trishume commented on #52
This is probably my fault, but I don't know why yet. I'll try to remember to debug this on Monday.

[2017-06-25 11:38] dsego commented on #52
@cmyr Just syntax coloring is active. It predictably crashes after a minute or two, every time. So far it hasn't crashed on new buffers, only when editing an existing file.

[2017-06-26 21:12] trishume commented on #52
Okay I figured out the cause of this bug, the `Engine::gc` method doesn't handle collecting revisions that aren't the oldest ones properly, which produces an invalid history which is caught by the dynamic checking on the next GC.

I'm not sure whether to fix the GC or just delete it, since I'm not sure if we need it anymore. I'll talk to @raphlinus about it later.

[2017-06-26 21:12] cmyr commented on #52
@trishume sounds good, thanks for looking into this.

[2017-06-26 21:13] trishume commented on #52
For now if you need a workaround you can set `MAX_UNDOS` to `1_000_000` in `editor.rs` to effectively disable the GC.

[2017-07-06 20:29] #52 closed

[2017-07-07 13:14] cmyr commented on #52
@dsego Would you like to confirm that this has resolved your crash?

[2017-07-07 13:27] dsego commented on #52
@cmyr Looking good 👍

[2017-07-07 13:28] cmyr commented on #52
@dsego great, thanks! 😄

[2017-07-08 18:51] jansol opened #54 "[Feature Request] Word deletion (alt+backspace, alt+delete)"
In TextEdit, option(+fn)+backspace deletes a word starting from the cursor position. Seeing as moving the cursor left/right and selecting by word is supported, I'd expect deletion to work the same way.

[2017-07-08 19:22] cmyr commented on #54
@jansol would you like to open this issue in the [xi-editor](https://github.com/google/xi-editor/) repo? These commands are actually implemented in xi-mac, they just aren't currently handled by the core. If you look at the Xcode console you'll see an error message for this and for alt+delete, saying that `delete_word_forward` and `delete_word_backward` aren't being handled.

[2017-07-08 23:56] jansol commented on #54
Done. Looks like that is indeed the case.

[2017-07-08 23:56] #54 closed

[2017-07-09 14:08] jansol commented on #2
Total gimmick, but a feature I've come to like a lot in iTerm2 is the possibility to set a slightly blurred, semitransparent background. Having this supported in themes would be awesome. (I like seeing my wallpaper through whatever I'm working on)

[2017-07-09 16:31] cmyr commented on #2
Conceptually, I think that window opacity is probably the sort of thing that a particular client might choose to implement, but I'm not sure about including it in core. I would also personally not be inclined to include it in xi-mac, but that's just me. ;)

I'm going to close this; basic theme support is working as of #51.

[2017-07-09 16:31] #2 closed

[2017-07-24 13:34] olegskl commented on #36
I have the same problem. Rust is installed with rustup. I'm able to build xi-core.

[2017-07-24 15:04] olegskl commented on #36
I had to comment out `set -e` from build-rust-xcode.sh to make it work.

[2017-08-15 14:22] mrandri19 opened #57 "Investigating on markdown rendering issues"
Hi, I'm trying to debug some issues in `xi-gtk`'s markdown syntax highlighting and I'd like to compare it to `xi-mac`'s.
Can I have a screenshot of [this](https://raw.githubusercontent.com/trishume/syntect/master/Readme.md) document please?
Right now it looks like this in `xi-gtk`:
![image](https://user-images.githubusercontent.com/8144521/29319815-8bf658e4-81d5-11e7-83b6-7532e1ede9bf.png)
There a

[2017-08-15 15:16] cmyr commented on #57
Here you go. ![screen shot 2017-08-15 at 11 14 31 am](https://user-images.githubusercontent.com/3330916/29322274-f1ef9910-81aa-11e7-8cbb-11d0a1e27915.png)

I would check out syntect's syncat executable, and see what things look like there. It's very possible we have a bug in here somewhere though..

[2017-08-15 15:56] mrandri19 commented on #57
Yep it's our fault
![image](https://user-images.githubusercontent.com/8144521/29323938-c9d49d3a-81e2-11e7-8630-8c179097639e.png)
Any tips on where I should start to look in xi's source?

[2017-08-15 16:01] cmyr commented on #57
@mrandri19 there's an issue open that may be related: https://github.com/google/xi-editor/issues/352

how styles are handled changed recently. There's a tracking issue here with links to some of the discussion, which talks about the change that was made: https://github.com/google/xi-editor/issues/319

There are two places I would look for this bug: the first is in the syntect plugin itself, and th

[2017-08-16 21:24] belak opened #58 "Build does not work with zsh-only features in zshrc"
Because bash is specified at the top of `build-rust-xcode.sh`, any time a user has something not supported by bash in their zshrc, the script will error and the build will hang. Below is some sample output while using my [zshrc](https://github.com/belak/dotfiles/blob/master/zshrc).

[code]

I believe this was caused by #56. Although it may fall victim to the same pitfalls, using something like `~/

[2017-08-16 22:30] cmyr commented on #58
@belak okay noted, I wasn't sure what the best approach to this was. (I'm still not). All we're really interested in is making sure cargo is in our path, I think. I'm not sure what the elegant solution is.. 😒

[2017-08-16 22:58] belak commented on #58
Potentially you could check if cargo is on the PATH and if it isn't, there would be a config file somewhere which would specify the location.

[2017-08-20 15:22] #37 closed

[2017-08-27 18:26] jansol commented on #21
Shouldn't the gutter, being fixed UI, be using the System font anyway? (San Francisco or whatever the System font happens to be) There are functions for getting that and NSFont IIRC has a method for measuring strings.

[2017-08-27 18:35] jansol commented on #58
How about checking if CARGO_HOME is set and if it isn't ask the user to set it before building? Potentially with a .env file.

[2017-08-27 18:37] belak commented on #58
Yeah, I think that might be a good option.

On Sun, Aug 27, 2017 at 11:35 jansol <notifications@github.com> wrote:

[2017-08-27 19:05] cmyr commented on #21
@jansol this is definitely a design decision. Xcode, for instance, has a predefined gutter font (which may not be the system default?), but sublime text uses the user font.

[2017-08-27 23:04] cmyr commented on #58
@belak @jansol let me know if this looks like an improvement: https://github.com/google/xi-mac/pull/61

[2017-08-28 15:54] jansol commented on #21
Either way, [this](https://developer.apple.com/documentation/foundation/nsstring/1524729-boundingrect) looks like the way to go. At least as long as our screens aren't going to fit 10k lines.

[2017-08-29 00:07] mitchhentges commented on #58
Hey, maybe you don't need to `source` either `bash_profile` or `zshrc`. Whatever shell the user is using, if its `rc` file adds `cargo` to the path (or sets `CARGO_HOME`), then `build-rust-xcode.sh` has all the information it needs. If the necessary variables _aren't_ set, then sourcing the `rc` file _again_ (`bash_profile` or `zshrc`) won't have an effect, right?

I can make a PR to remove the `s

[2017-08-29 00:09] belak commented on #58
@mitchhentges Unfortunately, if you're building directly from xcode, you won't have the environment variables in that instance. The PR cmyr mentioned looks like the best option at the moment.

[2017-08-31 21:11] MeetThePatel opened #62 ".xirc"
Has there been any thought to have a .xirc file to have as a configuration file?

[2017-08-31 21:55] cmyr commented on #62
@MeetThePatel there's an issue about user preferences in the main repo, here: https://github.com/google/xi-editor/issues/331

[2017-08-31 21:56] #62 closed

[2017-09-11 16:44] #58 closed

[2017-10-01 12:34] bluemix opened #67 "failed to run custom build command for `onig_sys v63.0.2`"
I've followed the build instructions, I have
 XCode 9,
macOS High Sierra 10.13 (17A365),
CMake 3.9.3,

and when I `xcodebuild`,
I got the this error: `Failed to run custom build command for 'onig_sys v63.0.2'`
here are the logs:

[code]

thanks in advance :)

[2017-10-01 17:30] bluemix commented on #67
I uninstalled the existing Rust compiler
` sudo /usr/local/lib/rustlib/uninstall.sh`

then I installed [rustup.rs](https://rustup.rs/):
`curl https://sh.rustup.rs -sSf | sh`
`source $HOME/.cargo/env`

then to make sure we have the right Rust compiler installed
`rustup override set stable`
`rustup update stable`

and finally
`xcodebuild`

[2017-10-01 17:30] #67 closed

[2017-10-20 19:53] cmyr commented on #57
@mrandri19 I just pushed a change to xi-editor that fixes https://github.com/google/xi-editor/issues/352. Can you check and see if this resolves your problem?

[2017-10-22 19:16] tjrana opened #70 "Add repo description"
Add a GitHub repo description:

or

[2017-11-07 22:30] rjammala opened #73 "Build fails with Xcode 8.3.3 (build version 8E3004b)"
I am using nightly Rust and here is my version of Swift:

swift --version
Apple Swift version 3.1 (swiftlang-802.0.53 clang-802.0.42)
Target: x86_64-apple-macosx10.9

   Compiling xi-plugin-lib v0.1.0 (file:///Users/rajanikanth.j/xi-mac/xi-editor/rust/plugin-lib)
warning: unused `std::result::Result` which must be used
   --> /Users/rajanikanth.j/xi-mac/xi-editor/rust/plugin-lib/src/state_cache.rs

[2017-11-07 22:34] cmyr commented on #73
We've migrated to Swift 4.0, which requires Xcode 9.0 or greater. Thanks for the issue, I'll update the readme.

[2017-11-07 22:49] #73 closed

[2017-11-18 17:40] vietlq opened #76 "Could not compile `xi-core-lib` - config_files.for_each"
I got an error when building xi-mac. My Rust: `rustup 1.7.0 (813f7b7a8 2017-10-30)`

[code]

[2017-11-18 18:16] raphlinus commented on #76
Not sure exactly what's going on here. I just tried building master using Rust 1.21 and it works, but the linked issue suggests that the "iterator_for_each" feature lands in 1.22.

What's the `rustc --version` output for you? If you do `rustup update` does it fix it?

Possibly we need to do a doc update bumping the rust version.

[2017-11-18 19:33] cmyr commented on #76
Yea readme currently says rust 1.20 +. Maybe it should just say "latest stable rust"?

[2017-11-21 16:14] jameshiew opened #78 "Font menu missing"
From [README.md](https://github.com/google/xi-mac/blob/master/README.md)

I followed the command line build instructions but don't have a Font menu in the menu bar, Cmd-Shift-T doesn't seem to do anything.

![screen shot 2017-11-21 at 16 12 48](https://user-images.githubusercontent.com/2990876/33083359-180bb07e-ced7-11e7-9502-fc8ed3cfced5.png)

[2017-11-21 16:18] cmyr commented on #78
Yes! it was removed in the latest build to make way for file-based configuration, but we haven't added documentation yet. That should come in the next day or so. Will also update the readme.

Temporarily, you can specify the font by creating a file called `preferences.xiconfig` in `~/.config/xi/`, with the following (optional) keys (and your preferred values):

[code]

thanks for the issue, will g

[2017-11-21 19:02] lennylxx opened #79 "Screen flickers when open a file in new tab"
Repro steps:

1. Open XiEditor, there will be an open file named `Untitled`.
2. <kbd>Command</kbd>+<kbd>O</kbd> to open a file.
3. Click around (or use arrow key) to move the cursor in the edit window.

Or reproduced by:
1. Open XiEditor, there will be an open file named `Untitled`.
2. <kbd>Command</kbd>+<kbd>W</kbd>  or click the close button to close this window.
3. <kbd>Command</kbd>+<kbd>O</kb

[2017-11-22 16:47] raphlinus commented on #79
A looked into this a little, and found that repro was inconsistent (it was particularly hard to repro when I was looking closely). Also, a quick scan of the code shows that it's trying to do the right thing - if the RPC isn't set up, the scroll request goes into a pending queue. So there's something deeper going on here.

[2017-11-22 17:47] #78 closed

[2017-11-24 01:54] Jasonlhy opened #82 "Add a built product?"
May be just add a built product to let people download and try?

[2017-11-29 22:17] AllanLRH commented on #82
Would love for it to be available as a `brew cask install xi-mac`.

[2017-11-29 22:19] cmyr commented on #82
We're still a ways away from offering a prebuilt package, although it's definitely an eventual goal.

[2017-12-14 20:29] cmyr opened #88 "Move 'scrollsPastEnd' into the config system"
we currently have this hard-set as a bool in EditViewController, but it should live in xi-core's preferences.

[2017-12-16 14:45] cmyr commented on #79
Just realized what the bug is, here while working on something related:

When we open in an existing tab, the logic that does the initial line fetch doesn't happen because it is called from the view's `viewDidAppear`, which happens when we first open the tab but before we open the file.

Not sure what the best solution is, but should be trivial.

[2017-12-28 02:09] cmyr commented on #79
@lennylxx Would you like to check and see if you can still reproduce this on master? I _believe_ it's fixed, but I had trouble reproducing consistently.

[2017-12-31 22:05] cmyr opened #102 "Use NSDictionary instead of swift types when dealing with JSON"
Some profiling suggests that copying from NSDictionary (which is the type produced by the builtin JSONSerialization class) into swift types like [String: AnyObject] is a significant performance bottleneck.

We've also played around a bit with the new Decodable protocol for handling JSON, and it doesn't have particularly impressive performance yet either; so staying in NSDictionary will be an immed

[2017-12-31 22:17] #76 closed

[2017-12-31 22:20] cmyr commented on #34
This was fixed in #89.

[2017-12-31 22:20] #34 closed

[2017-12-31 22:24] cmyr commented on #42
@troplin I'd be curious to hear what your experience is like now, performance-wise. We've just finished a bunch of work that should be a significant improvement.

[2018-01-01 12:13] troplin commented on #42
I'd love to but I'm stuck on OS X El Capitan (10.11.6) and thus XCode 8.2.1.
xi-mac now to requires XCode 9.x so I cannot build it anymore.

[2018-01-02 19:36] davelab6 commented on #82
Would love to see this :)

[2018-01-04 16:15] lennylxx commented on #79
@cmyr Build on top of 4603667e01796237bcae46a21edde2366cf8cd0a and https://github.com/google/xi-editor/commit/53f4267c75da28a80708a531e7ae76071ccfcb41, it can't be reproduced.
I think it's fixed. Thank you for the work!

[2018-01-04 16:52] cmyr commented on #79
@lennylxx great, thanks for the follow-up!

[2018-01-04 16:52] #79 closed

[2018-01-06 18:39] raphlinus commented on #102
After a little more investigation, while this would be a short-term improvement, I'm not sure this specifically is the direction we want to go. The Decodable route is cleaner code and potentially more performant, the only problem is that the implementation in Swift 4 is very slow.

I think the best case here is to write a new JSON parser from scratch that implements Decoder, and also in parallel t

[2018-01-08 19:10] #88 closed

[2018-01-10 00:09] jansol opened #107 "Scrolling beyond the ends of a file is differen from TextEdit (trackpad)"
In TextEdit, scrolling with the trackpad is possible even when the content fits entirely in the window or is already scrolled all the way to either end. It will overscroll and then bounce back.

Xi-mac only overscrolls when hitting the start or end of the file while scrolling. When all content fits in the window or is already scrolled to the start/end it will not scroll past the end at all. Contin

[2018-01-10 02:31] cmyr opened #108 "Improve tabbed window behaviour"
Our current tab handling is a bit of a hack.

To fully address that, though, we should have a clearer sense of what our desired tabbing behaviour is. as of 10.12 there's the idea of user tabbing preferences; basically the user can choose to have <kbd>cmd</kbd> + <kbd>N</kbd> always open windows as tabs, if they change a setting in System Preferences -> Dock.

I _suspect_ we desire behaviour more l

[2018-01-11 19:05] cmyr opened #111 "open XiEditor from the command line"
We'd like this eventually. In the interim, I currently have a teeny bash script at `/usr/local/bin/xi`:

[code]

This requires XiEditor to be installed somewhere, like /Applications. You can also replace `XiEditor` with a path to the app bundle.

edit: simplified script

[2018-01-12 00:40] simon-mo opened #112 "Print Function?"
When I try to *print* some markdown document that I opened from the editor, the result was two blank page. I don't see this issue raised in anywhere else, so I post it here.

Is this a known bug? or there's something wrong with my build.

[2018-01-12 00:46] raphlinus commented on #112
It used to kinda sorta work (but not very well) because we were drawing the text with Core Graphics. Now that we draw using a fast text plane, it's not surprising that even this has regressed.

It seems like a useful feature. It's not exactly trivial, because the front-end does not generally have the entire document available, but something basic could probably be wired up.

[2018-01-12 15:45] cmyr commented on #112
And we should disable the print menu item pending a fix.

[2018-01-12 16:40] jinfagang opened #113 "Terminal command enhancement."
Hi, xi is a very good thing. I used to using sublime and it provides a subl command, so that I can open any txt files in terminal which is really convenient.

Is xi also provide such a function? If not, maybe we should add this feature?

[2018-01-12 16:43] cmyr commented on #113
Good timing! :) There's an issue open for this (with a workaround) here: https://github.com/google/xi-mac/issues/111

[2018-01-12 16:43] #113 closed

[2018-01-13 01:39] jinfagang commented on #57
How to make it support markdown anyway, the default xi seems not open this feature.

[2018-01-13 01:40] jinfagang commented on #57
Oh, I have to save as md. Got it.

[2018-01-13 01:43] jinfagang commented on #57
How to change the default size of window? Every time it shows in a small window and I have to resize it. If it can remember the last size could be better.

[2018-01-13 01:45] raphlinus commented on #57
@jinfagang The window size is a result of changes in #105. That was supposed to use reasonable heuristics but perhaps it's not working well for you for some reason; maybe you want to take a look at the code and possibly experiment with some of the constants?

[2018-01-13 01:57] jinfagang commented on #57
@raphlinus Thank your pal. I just mention everytime open it should do a redundant resize action is waste of time. May be other people more like a clean way. So keep it is.

[2018-01-13 15:44] cmyr commented on #57
@jinfagang The default size of the window is currently the size of the last window you moved or resized, the previous time you used the editor.

Maybe you're right, and a better behaviour would be to use the size of the currently active window, if there is one?

Also there should probably be a menu for selecting syntax without saving the file. How we handle 'syntax' at the moment is a bit confused

[2018-01-18 20:18] cmyr opened #115 "empty newlines can screw up gutter line numbers"
Entering newlines fails to update the line numbers of subsequent lines.

![screen shot 2018-01-18 at 3 16 35 pm](https://user-images.githubusercontent.com/3330916/35119400-c2991f78-fc62-11e7-8a99-4a61112e69bc.png)

[2018-01-23 01:37] vlovich opened #117 "occluded window still renders"
Even if the window is fully occluded the code will still still go through the entire rendering path which seems wasteful.  The problem will presumably get worse as there are more edit views although I guess there could be simple fixes for scaling it.  The primary concern I think would be the power impact on mobile.

[2018-01-23 02:09] raphlinus commented on #107
I'm not sure what the behavior should be; see discussion in #118.

[2018-01-23 04:22] cmyr commented on #117
Interesting observation. We don't really have a mechanism in core for deferring updates, but I agree there's a good case for this in certain situations; off the cuff I can imagine an implementation based around a "became_hidden" and "became_visible" rpc. The actual implementation shouldn't be too hard? We'd track the last rev sent when suspending updates, and then when resume we can (I believe) tr

[2018-01-23 16:51] cmyr commented on #115
@vlovich just caught up on the irc logs; it makes sense to me that this is related to the auto-indent stuff in syntect; at least, that's why you're seeing two updates. We shouldn't be sending the second update in syntect if there is no previous indentation level; I'll open a separate issue for that.
 Annoyingly I'm also not able to reproduce consistently right now?

[2018-01-23 19:15] vlovich commented on #115
So I've tracked it down.  There's some kind of bug with the lineCache.  If I disable it
[code]
then the line numbers are fine.  FWIW I see no noticeable performance difference.  I'm not sure I understand yet what lineCache is trying to do.  My guess is that the performance implications are for when you have more complex styles being applied.  I'll look into the problem.  My hunch on how the fix is

[2018-01-23 19:19] vlovich commented on #115
This hack fixes the issue:
[code]
The less hacky way I'm thinking of doing it is to have 2 LineAssoc.  1 for the text itself and 1 for the gutter.  Then move the rendering of the gutter lower.  Not sure how involved that is or if there's a simpler fix.

[2018-01-26 13:54] rkusa opened #120 "Find UI magnifier icon not shown"
The magnifier icon in the Find bar is not shown anymore.

![screen shot 2018-01-26 at 14 50 30](https://user-images.githubusercontent.com/409021/35442662-56799330-02a8-11e8-8550-f990f0a9f421.png)

I was able to track this issue back to the changes in `Main.stroyboard` in dc4840e.

Unfortunately, I have no idea how to fix this. Maybe the `NSSearchField` itself is buggy?

[2018-01-26 16:28] rkusa commented on #120
I am more or less just guessing, but could it be due to the `EditView` being a layer-hosting view now? I found the following in the docs about layer-hosting views:

But we are adding the `FindViewController`'s view as a subview to `EditView`.

[2018-01-26 16:37] cmyr commented on #120
I think you're right. There should be a fairly trivial work-around, which would be to have the find view be a sibling of `EditView`, probably a child of `EditContainerView`?

[2018-01-27 17:14] cmyr commented on #115
Interestingly, this is not an issue if linewrap is enabled (this was my reproduction problem). I don't know too much about that code, but I guess it's sending a different update. It's not immediately clear to me that that should be expected in this case?

[2018-01-27 18:36] raphlinus commented on #115
I don't think it's a huge mystery, the current linewrap code overinvalidates, which can mask the underlying problem.

Vitali's approach seems good to me, let's get it merged.

[2018-01-30 17:21] vlovich opened #123 "Holding key doesn't bring up character accent menu"
OSX for the longest time (6+ years?) has had the UI of bringing up a character accent menu when a key is held instead of doing key repeat.  All applications I've tried have had this behaviour.  Xi-mac appears to instead do key repeat when I'm holding down a key instead of bringing up the accent menu.  Likely has to do with the custom view doing text handling.

[2018-01-30 20:01] jansol opened #124 "Turning windows into tabs is broken"
Dragging a tab into a new window works, dragging a tab to another existing window works iff that window has a tab bar.

[2018-01-31 02:07] vlovich commented on #102
FWIW there's quite a number of available JSON parsing alternatives for Swift that focus on speed.

https://github.com/delba/JASON
https://github.com/bwhiteley/JSONShootout

Maybe using an existing one might be a better attempt than rolling our own?

[2018-01-31 02:12] vlovich commented on #111
Are you saying eventually you want a terminal front-end or just the ability to invoke the Gui from the command-line?  If it's the latter we can just package your script into the .app & on startup check for /usr/local/bin/xi - if missing copy it there.

[2018-01-31 02:36] raphlinus commented on #102
I saw those. These are very rough numbers because they're different structs and running on different hardware, but let's put it in terms of MB/s of JSON processed. According to the shootout, "Swift 4" is at about 10, and SwiftyJSON about 5. If JASON is twice as fast as SwiftyJSON, that puts it also at 10.

The tests I did (see [irc log](https://botbot.me/mozilla/xi/2017-12-29/?msg=95167916&page=3)

[2018-01-31 03:34] cmyr commented on #111
@vlovich Right, I'm talking about essentially packaging this script; I had the idea that it might make sense to add various options, but that can be future work. I'm not sure how best we would go about installing this; we don't necessarily know the path to the `XiEditor.app` package. There's probably a way to figure this out, I don't really know much about the mac app install process...

[2018-01-31 11:44] fanfeilong opened #125 "when open sqlite3.c, it is crash"

[2018-01-31 15:11] cmyr commented on #125
Strange. Some more information would be useful:

- Are there any relevant crash reports in `~/Library/Logs/DiagnosticReports`?
- Did you build from the command line with `xcodebuild`, or via `Xcode.app`?
- Other files are working fine?

[2018-01-31 15:19] PierBover opened #127 "Very slow performance on big JSON file"
As [instructed by cmyr in HN](https://news.ycombinator.com/item?id=16269826) I'm opening this issue about a very slow performance with a large JSON file.

[postal-codes-cloud-function.json.zip](https://github.com/google/xi-mac/files/1682150/postal-codes-cloud-function.json.zip)

I built using `xcodebuild` so not sure if release or debug mode.

The file opens reasonably fast compared to other edito

[2018-01-31 15:35] cmyr commented on #127
Ah I understand. We do currently have some performance issues around really long lines. There's a related issue at #20.

[2018-01-31 15:52] PierBover commented on #127
Ok, I guess it's better to close this then.

[2018-01-31 15:52] #127 closed

[2018-01-31 19:06] vlovich commented on #112
Hmm... this seems like a deceptively hard problem to actually get right.

1. The entire document needs to be rendered. The front-end currently doesn't have a mechanism for getting + rendering anything more than the current view.
2. Plugins that add style information to a document (e.g. syntax colouring).  How will we know when they're in a steady-state?  Maybe we need some kind of versioning syste

[2018-01-31 19:24] raphlinus commented on #112
Agree with both concerns. We used to have a sync RPC to render lines, and this _could_ be used, but ultimately I think this is best not handled in the front-end, as the front-end protocol doesn't have ways of accessing a consistent snapshot, knowing when the plug-ins have quiesced, etc. Of course, that means adding those features to the plug-in interface, as well as access to the style info.

[2018-01-31 20:01] vlovich commented on #125
Also can you attach the file or provide a URL? I grabbed https://raw.githubusercontent.com/xamarin/sqlite/master/dist/sqlite3.c & it opened without issue for me.

[2018-01-31 20:12] vlovich opened #128 "Window frames aren't auto restored"
I'm not sure if this is handled automatically by Cocoa but,

1. Should restarting Xi automatically re-open the same documents & document window (position + size) as when we quit?
2. Should closing a document & opening it again restore the last frame it had?  Right now it seems like all documents share the same initial frame size.

[2018-02-01 03:27] fanfeilong commented on #125
@cmyr @vlovich  The files I am trying to open are in my local project. It seems that any files in this folder will crash.  I  have tar the test source files and crash report file with `tar cvzf`:
[crash_report.tar.gz](https://github.com/google/xi-mac/files/1684080/crash_report.tar.gz)

[2018-02-01 04:26] vlovich commented on #125
func utf8_offset_to_utf16(_ s: String, _ ix: Int) -> Int {
    return s.utf8.index(s.utf8.startIndex, offsetBy: ix).encodedOffset
}

Precondition failed: file /BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-900.0.74.1/src/swift/stdlib/public/core/StringUTF8.swift, line 185
2018-01-31 20:23:56.660028-0800 XiEditor[54308:17000757] Precondition failed: file /BuildRoot/Library/Cach

[2018-02-01 04:27] vlovich commented on #125
#3	0x00000001000315ad in utf8_offset_to_utf16(_:_:) at /Users/vlovich/src/xi-mac/XiEditor/StyleMap.swift:105
#4	0x0000000100030fcc in static StyleSpan.styles(fromRaw:text:) at /Users/vlovich/src/xi-mac/XiEditor/StyleMap.swift:91
#5	0x000000010003f4e6 in Line.init(fromJson:) at /Users/vlovich/src/xi-mac/XiEditor/LineCache.swift:44
#6	0x0000000100044f28 in LineCacheState.applyUpdate(update:) at /Use

[2018-02-01 04:28] vlovich commented on #125
StyleSpan.styles:
(lldb) po text.count
80

(lldb) po start
3

(lldb) po end
83

(lldb) po style
2

[2018-02-01 04:34] cmyr commented on #125
okay, this is because we aren't correctly handling the BOM. Adding the BOM to an otherwise okay file results in the same crash.

This highlights some general laxness we have around handling character encoding.

[2018-02-01 21:02] zachdaniel opened #130 "When opening preferences via `CMD+,`, the entire page doesn't load at first."
Just exploring this repo and xi-editor, going to get my feet wet soon. I got it open and figured I'd try out the preferences panel, and this is what happened.

![xi-mac bug](https://user-images.githubusercontent.com/5722339/35703153-2bf0d752-0769-11e8-9824-374d116ea75f.gif)

Only the first few lines are displayed, and then the rest is filled in as I scroll.

If, however, I type into the document a

[2018-02-01 21:06] cmyr commented on #130
Interesting, this was a known issue but I thought it had been resolved. I'll see if I can reproduce.

[2018-02-01 21:19] cmyr commented on #130
@zachdaniel I don't imagine there's any chance your xi-mac is a bit behind master? I'm not able to reproduce.

[2018-02-01 21:24] zachdaniel commented on #130
Says I'm up to date on master. Perhaps I have outdated tooling?

[2018-02-01 21:25] zachdaniel commented on #130
Looks like I was still running on nightly rust. Let me see if switching back to stable helps.

[2018-02-01 21:33] cmyr commented on #130
I don't think it should be related; what this looks like is that the front-end isn't sending the "scroll_to" RPC, which indicates the size of the viewport, but I'm not sure why that's happening. One possibility is that `EditViewController.visibleLines` isn't getting reset; we check that before sending the scroll notification to avoid duplicate events. It _should_ be getting reset in `XiDocumentCon

[2018-02-01 21:52] zachdaniel commented on #130
@cmyr I'll use this issue as an excuse to just dive in and get my hands dirty. All I know about swift I learned when it was announced and I did a tutorial, but I might be able to piece something together :) I mostly came to this project for the rust, but if I pick swift up too, NBD.

[2018-02-01 22:08] zachdaniel commented on #130
From what I can see, it's sending visible lines explicitly as `currentDocument.editViewController?.visibleLines = 0..<0`

[2018-02-01 22:10] zachdaniel commented on #130
So it looks like we go down a separate path if the current document is empty, where we basically simulate the current document as the new file but freshly opened.
`if let currentDocument = self.currentDocument as? Document, currentDocument.isEmpty`

Is that an accurate assessment?

[2018-02-01 22:16] zachdaniel commented on #130
I should probably not clutter up these github issues with "me learning swift"!

[2018-02-01 22:23] cmyr commented on #130
@zachdaniel ping me on irc if you want some real-time help with this? cmyr@irc.mozilla.org

[2018-02-01 23:45] Garee commented on #130
I also see this issue.

It looks like `EditViewController.willScroll` is not invoked if you open the preferences file from an empty document.

I added the following and it seems to fix it, but I don't know if it's the correct approach.

[code]

I hope this helps.

[2018-02-01 23:48] cmyr commented on #130
@Garee I have a patch inbound, but this is very close to my approach. Were you also seeing this issue?

[2018-02-01 23:50] cmyr commented on #130
@zachdaniel when you're back around, you can see if this patch fixes this for you? https://github.com/google/xi-mac/pull/131

[2018-02-02 00:03] Garee commented on #130
@cmyr I could reproduce the issue and #131 fixes it for me.

[2018-02-02 00:06] cmyr commented on #128
1. Cocoa should handle reopening existing windows, and should save the position of individual windows on close, although this is also dependent on user settings; specifically in System Preferences > General, there's a checkbox for 'close windows when quitting an app', which if checked will disable the restore behaviour. **Restoring tabs** is currently broken; if you had a window open with multiple

[2018-02-02 00:09] cmyr commented on #130
@Garee okay cool, I'm going to assume this was some behaviour change between 10.12 (which I'm on) and 10.13 (which I'm assuming you're on); the correct-seeming behaviour on 10.12 was accidental. 😁

[2018-02-02 00:11] #57 closed

[2018-02-02 00:13] #21 closed

[2018-02-02 00:15] cmyr commented on #3
We're currently skipping out on a real preference pane in favour of config files; maybe we'll revisit in the future but happy for now.

[2018-02-02 00:15] #3 closed

[2018-02-02 00:40] zachdaniel commented on #130
Fixes for me as well.

[2018-02-02 18:26] #115 closed

[2018-02-02 23:13] cmyr opened #134 "Include Inconsolata (font) in the app bundle"
This would ensure that everyone had the same experience out of the box, and also has nice evangelism benefits. ~I'm not sure if there are any legal or otherwise concerns, though. @raphlinus?~

In terms of the actual work, bundling the fonts should be trivial; what I'm not sure about is how we actually use them from the app bundle. It's certainly doable though.

[2018-02-05 17:31] jansol opened #135 "Instant crash when using Fira Mono"
Setting the font to Fira Mono causes xi-mac to crash instantly upon saving the config file, as well as on subsequent launches.

Stacktrace:
[code]

[2018-02-05 19:17] cmyr opened #136 "capture core stderr, write on crash"
afaict there's no way to recover a stacktrace if xi-core crashes when launched outside Xcode.

Related to this, xi-mac currently doesn't have any way of knowing whether or not xi-core has crashed.

To fix the first, we should capture the output of xi-core' stderr, and store it as a string in xi-mac; perhaps only keeping the most recent 100 lines or so. (We should probably continue printing stderr

[2018-02-06 00:44] srigsby commented on #111
perhaps not helpful but here's an alias I've been using:

    alias xi="open $HOME/xi-mac/build/Release/XiEditor.app"

[2018-02-06 01:02] srigsby commented on #111
perhaps off topic or not useful but this is the alias I use for "opening XiEditor from the [cmd] line":

    alias xi="open -a $HOME/xi-mac/build/Release/XiEditor.app"

[2018-02-06 17:09] cmyr opened #138 ""this document's file has been changed by another application""
Apparently we're sometimes getting confused after a save, and popping this dialog on subsequent saves. I imagine this is because we aren't telling Cocoa when we save, and since we save out of process (in xi-core) Cocoa sees the file change and doesn't know it's us. Presumably this is related to some changes I've made around `XiDocumentController` recently.

[2018-02-07 17:11] cmyr commented on #125
fixed in https://github.com/google/xi-editor/pull/513

[2018-02-07 17:11] #125 closed

[2018-02-07 17:26] raphlinus commented on #134
I think this is a good idea. There shouldn't be any legal concerns, the fonts are released under the perfectly cromulent OFL license, which allows bundling in a wide range of contexts.

There is a question of which version is best. InconsolataGo is a possibility, but it also lacks some updates and character set coverage from the latest Google Fonts [version](https://github.com/google/fonts/tree/ma

[2018-02-07 17:41] #130 closed

[2018-02-08 04:40] srigsby commented on #138
yea, i see this one a lot. I thought it might have been some spotlight/mac indexing related thing but couldn't get any reproducible condition reindexing

[2018-02-11 12:51] foisonocean commented on #82
any updates?

[2018-02-11 15:13] lukf commented on #128
The most annoying issue with current state restoration behaviour occurs when closing Xi while in Full Screen. Cocoa's restoration does not honour Full Screen mode. Instead, Xi windows restore to maximum screen width and minimum height.

[2018-02-11 15:41] cmyr commented on #128
@lukf Ah interesting, thanks for that. I hadn't been testing full screen at all.

[2018-02-11 15:45] cmyr commented on #82
We won't be offering a built product for a while yet, because it creates the impression that the software is ready to use, regardless of how vocally that is disclaimed. Although it might be frustrating for some users, having a slightly more difficult install process is probably useful for the time being. If you're really interested in trying out the editor and can't figure out the build instructio

[2018-02-13 11:54] foisonocean commented on #82
@cmyr The problem for me is that I'm still using macOS 10.11, which is only allowed to install XCode 8, but xi-mac requires XCode 9, so I can't build it by myself. So I wonder if you could provide a built version, I can easily try the latest xi-mac.

[2018-02-13 15:25] cmyr commented on #135
Fixed in #140

[2018-02-13 15:25] #135 closed

[2018-02-13 16:10] cmyr commented on #82
@foisonocean I have _zero_ confidence this will work, but you can try this:

It isn't a proper archive, just my build. You may need to have some libs installed, particularly oniguruma, available through homebrew. This also won't generate logs for errors originating in xi-core (#136) so you might want to open the app bundle and try running `xi-core` directly to debug?

https://cmyr.net/upload/XiEdi

[2018-02-14 05:17] foisonocean commented on #82
@cmyr This works for me on 10.11

[2018-02-14 10:10] rolftimmermans opened #142 "Question about contributing to a file explorer"
I'd love to use Xi for Mac on a more regular basis. I love the goal of this project and am a huge fan of fast, platform-native software.

The one thing missing for me that would make Xi useful for for any real work is a (simple) file/project explorer. I would love to contribute to this. Has any thought been given to how this should be implemented? Would this be a plugin or part of the native Mac a

[2018-02-14 19:24] DivineDominion commented on #7
Just wanted to chime in and point out that you can have multiple windows per NSDocument using `-addWindowController:`

[2018-02-15 09:20] tatoalo commented on #128
I've been experiencing similar issue when restoring a session but instead of a maximum w/h values like @lukf, I have the smallest possible w/h values when opening a new Xi session.
I couldn't figure out where was it placed in the screen, luckily (thanks to Magnet) I was able to center it and manually resizing it.

<img width="850" alt="screen shot 2018-02-15 at 9 54 35 am" src="https://user-images

[2018-02-15 21:03] cmyr commented on #142
@rolftimmermans I think this is a very reasonable addition; there was some tentative work on this last spring by @rtsuk, but he ended up busy with other things; in any case he might have some thoughts/suggestions?

There are definitely some unanswered questions, but a certain minimal implementation seems reasonable.

The idea of a 'workspace' is something that tentative current thinking suggests s

[2018-02-15 21:39] rtsuk commented on #142
Nothing to add, @cmyr's suggestions are how I would go about it too. I didn't get very far before my unfamiliarity with Swift drained my enthusiasm for the work.

[2018-02-15 21:55] cmyr commented on #128
@tatoalo was this also in relation to fullscreen mode? In any case good to know, maybe I'll add a minimum allowable width/height.

[2018-02-15 21:57] WillCraig commented on #111
I wanted to make a more detailed set of instructions for idiots like myself (Who took 4 hours to get this to work)
type `open . profile` in the terminal, put this in the .profile file
[code]
type `source .profile` after saving the text file

(*You can change the name of the alias (bolded) to anything you want.

[2018-02-16 08:25] tatoalo commented on #128
@cmyr Nono it wasn't related to fullscreen mode, actually I've never used it in such mode.
Trying to "fix" I've also tried:
- Resizing window, quitting Xi and restarting
- Resizing window, write something in the buffer, save it, restarting
- Resizing, go in fullscreen mode, write, save, restarting

But so far none of the aforementioned actions seems to do the trick...

[2018-02-16 15:24] cmyr commented on #128
@tatoalo #141 should solve your problem, but I'm still curious about what's actually causing this.

Can you paste the results of entering `defaults read com.levien.XiEditor` at the command prompt?

If you resize the window to some reasonable size, and then (without quitting) make a new window, what size is the new window?

If you have Xcode, one more thing i'd be curious about: if you could add pr

[2018-02-16 17:17] tatoalo commented on #128
@cmyr

Ok, I'm gonna post the output results:

[code]

[code]

[code]

If I resize the windows and then cerate a new one, the size of the new one will be matched with the old one from which the new window command has been invoked.

[2018-02-16 17:57] cmyr commented on #128
Okay, thanks for that. we're at least saving the state. If you're up for it, this would be my next step:

replace `Document:frameForNewWindow` with the following: (leaving your current print statement in `XiDocumentController:windowChangedNotification`)

[code]
And then do the following:

1. Hit Xcode 'run'
2. center the window
3. manually resize the window, to a size you would actually use to edi

[2018-02-16 19:35] tatoalo commented on #128
@cmyr Of course, nb, here it is
[code]

Hope to have helped even a little bit 😊

[2018-02-17 04:18] cmyr commented on #128
Okay, so reading that it looks like view you create with cmd+N has a reasonably sized frame, is that correct?

If you quit and relaunch the application, new windows you create still start with the small size?

I wonder if somehow your defaults are being overridden? Want to try that command we used before to print them?
`defaults read com.levien.XiEditor`.

-  before launching the app
-  after resi

[2018-02-17 09:19] tatoalo commented on #128
@cmyr

Exactly

Precisely, also not centered(just as before)

[code]

[code]

[code]

[2018-02-21 18:11] kylegoetz commented on #82
@cmyr works for me on 10.12 as well. Thanks. I really wanted to check this out, but Xcode takes up eleven billion zettabytes and my laptop has like 3GB of free space.

[2018-02-21 18:27] raphlinus opened #145 "Horizontal scrolling"
Note: see #4 for an earlier discussion. This issue encapsulates my current thinking.

## Viewport width: longest line in document, or longest visible line

One of the more fundamental design choices is how to compute the viewport width. The two most reasonable alternatives are the longest line in the document, or the longest line in the viewport. In the latter case, the viewport width would change

[2018-02-21 18:28] raphlinus commented on #4
See #145 for the current thinking on this. Maybe close this issue to make sure the latter is considered main?

[2018-02-23 04:01] vlovich commented on #111
This is typically done on OSX by bundling the script into the .app & then offering an option to deploy it into /usr/local/bin if it's not present.  Would be happy to accept a PR that does this.

[2018-02-26 02:31] #4 closed

[2018-02-26 20:13] cmyr opened #147 "Move edit commands from view to controller"
Currently there's a bunch of code around handling user commands in the `EditView`. As much as is possible this should all be moved in to `EditViewController`. The exceptions will be certain things around IME, which have to be implemented in the class that is implementing `NSTextInputClient`, which has to be the edit view.

[2018-02-28 19:57] #147 closed

[2018-03-07 23:57] vlovich commented on #102
Thinking about this some more, what about just using the Rust JSON library for the parsing & just have a single rust dictionary <> swift dictionary conversion routine?  Benefits of having a safe + fast decoder with the hopefully minimal cost of transforming a data struct, especially since all the allocations can be exactly sized & reserved up-front.  For encoding it's not as big a deal & we can ju

[2018-03-16 19:07] cmyr opened #154 "Find is broken"
Since we moved to openGL backed drawing find is broken in a few ways:

- touch handling / focus: clicking away from the find window should change the first responder. In a more general sense, the behaviour around input focus while the find view is visible should be audited, there's probably a bunch of subtle stuff wrong.

- highlights aren't drawn: the `TextLine` has no concept of find highlights.

[2018-03-17 04:01] OberstKrueger commented on #111
Absent a smarter method of finding the location of XiEditor.app, the "/Applications" portion of the script can be left off. By default, "open -a" will search both /Applications and ~/Applications, and while I imagine most people will put it in the root Applications, there might be some who put it in the user Applications folder.

[2018-03-19 10:35] rkusa commented on #154
For _touch handling / focus_ we should also hide the caret of the document as long as the find view textfield is focused. Currently, when the find view textfield is focused, we basically have to blinking cursors (one in the textfield and one in the document).

[2018-03-20 01:43] cmyr opened #155 "scrollbars show in empty window if resizing down from original size"
When a new window is created, resizing it horizontally to be smaller than it's original size causes scrollbars to appear.

This happens because in `EditView.redrawEverything()` we set the width constraint to be == the current width of the window. This is incorrect, but is necessary because when determining the width of the view (which increases as we encounter new lines) we don't save this width,

[2018-03-21 03:23] cmyr commented on #136
closed by #151

[2018-03-21 03:23] #136 closed

[2018-03-21 03:24] cmyr commented on #134
closed by #153

[2018-03-21 03:24] #134 closed

[2018-03-22 08:44] NateLing opened #156 "Add open folder"
![image](https://user-images.githubusercontent.com/9606668/37759895-fb73da40-2def-11e8-877e-707ebf0dfa2f.png)

plz add folder view，This feature is useful for programmers。

[2018-03-23 15:21] cmyr commented on #156
Yes I agree that some sort of workspace management is something we will need to consider at some point.

[2018-03-26 06:31] grylem opened #157 "find and replace"
Don't work

[2018-03-26 14:31] cmyr commented on #157
Indeed. Replace hasn't been implemented, and find is currently broken. Tracking for the first is probably https://github.com/google/xi-editor/issues/224, tracking for the second is #154.

[2018-03-26 14:31] #157 closed

[2018-03-28 15:25] defphil opened #158 "Selecting whole file and pressing Esc results in blank window"
Using default settings on clean build, pressing Command+A selects whole file. After that If I press Esc window is rendered completely blank. Scrolling or clicking inside the Xi window restores content.

[2018-03-28 18:39] cmyr commented on #158
great bug, not sure what's going on here.

[2018-03-29 13:22] FilipMiletic commented on #158
[code]
Standard procedure after selecting all
... `send edit` twice ...
... `handleRaw` twice ...
... `applyUpdate` twice...
... `EditView Update` twice...

And I think pressing Esc produces `cancel_operation`
[code]
Again here goes standard procedure.
... `send edit` twice ...
... `handleRaw` twice ...
... `applyUpdate` twice...
... `EditView Update` twice...

But what's interesting is this part

[2018-03-29 13:35] FilipMiletic commented on #158
Okey, I think It's safe to say that it's not the part of core, but definitely `xi-mac` (I had to go from the bottom upwards 😇). So I checked debug output in Xcode and got this:

[code]

So this is what console log displayed during my reproduction of bug, just running Xcode project, opening Xi, loading file (Obviously C++ file). There I hit command+A to select whole buffer, and then after I hit Esc

[2018-03-29 15:54] cmyr commented on #158
Do you know about loading trace files into chrome? When you use 'Debug -> Write Trace' you can open that file in chrome by going to chrome:://tracing. this might make interpreting those files easier.

My suspicion is that 'esc' has some side effect that is confusing the cache; perhaps it is getting cleared, and is waiting for lines that core doesn't know to send.

[2018-03-30 05:27] nangtrongvuon commented on #158
The bug occurs not just when selecting the whole document, but just selecting an area of text that is bigger than the current window size. I suspect the side effect may be with EditView's render method instead.

[2018-04-05 06:35] cjohansson opened #163 "Window position restores at 20 pixels too much to the right"
If I open `xi-mac` and position it to the utmost left (0) and utmost top (0) and then quit it and then relaunch it it will restore to position top: 0 and left: 20, width and height is correct. If I then quit it again without moving window and re-open it it will be 40 pixels to the left all other dimensions are correct. For each iteration the left position will move 20 pixels from the left.

[2018-04-05 14:51] cmyr commented on #163
Ah interesting, this is an unintended result of code that determines how to position newly opened windows (it's relative to saved frame of the last active window).

I think we can treat this as a dupe of #128; there are a few problems with the restoration of windows, especially around how tabs behave.

[2018-04-06 13:35] cmyr commented on #128
Going to treat this as the tracking issue for overall window restoration behaviour; #163 describes another related problem with how restored windows are positioned.

[2018-04-11 23:02] timburks opened #167 "Rewrap (F1) can't be undone and doesn't mark a buffer as changed."
I noticed that after rewrapping source files (tested with Rust and Swift), the changes can't be undone, and if rewrap was the only change, the containing window can be closed without warning. (Typically an attempt to close a changed file triggers an alert with a warning.)

Found on a fresh build of master (commit 9af3f596e3122ab54eecd279c323077497cac448).

[2018-04-13 00:49] cmyr commented on #167
@timburks thanks for this!

rewrap from the debug menu was very much a testing feature, and should probably be removed, although it may be getting used for real width measurement, which is currently in flight.

If you'd like a more useful version of rewrap, you can set a column width in your preferences file.

[2018-04-13 01:06] raphlinus commented on #167
Also it _shouldn't_ mark a buffer as changed, because it only affects the view. Perhaps you're thinking of a feature like "gwap" in vi, which would also be useful.

[2018-04-13 01:53] nangtrongvuon commented on #158
This has (mysteriously) been fixed by xi-core(?) in this [commit](https://github.com/google/xi-editor/commit/3f1278266e10ab8f9e8b1bf15cd8f5220d0797a5).

[2018-04-14 17:11] timburks commented on #167
Thanks for your explanations! I don't need the Rewrap feature; I was just poking around and this struck me as a minor surprise worth mentioning.

It would be more clear that rewrap only affects the view if the line numbers on the left didn't update to reflect the wrapping. Also, rewrap seems to put the view in a wrapping mode that causes new text to be wrapped. I haven't found a way to exit that m

[2018-04-16 02:01] jansol opened #168 "Word wrap gets confused by fullwidth characters"
The current word wrap logic seems to be a bit overzealous when it comes to fullwidth characters. Word wrap is set to 80, but fullwidth lines are wrapped already at column 44.

<img width="565" alt="screen shot 2018-04-16 at 10 58 07" src="https://user-images.githubusercontent.com/2588851/38786794-1608fa24-4165-11e8-8ccf-a9bd68601887.png">

[code]

[2018-04-16 07:37] RayLuxembourg opened #169 "Not a single photo of the editor ?"

[2018-04-16 14:50] cmyr commented on #158
interesting, I don't see anything in that commit specifically that should address this, although I don't have trouble believing there was something in this broader set of changes. This was definitely an issue around not properly invalidating after a selection change. @FilipMiletic can you still reproduce this issue on master?

[2018-04-16 14:53] cmyr commented on #167
@timburks you're correct on both counts. The line numbers should be considered a bug, and there's an open issue in xi-core (https://github.com/google/xi-editor/issues/184) and the 'not being able to exit this mode' is an acceptable consequence of this only existing for testing. For finer-grained playing around you can change your config file. :)

[2018-04-16 14:55] cmyr commented on #169
Like in the readme? https://raw.githubusercontent.com/google/xi-mac/master/doc/img/xi-mac-screenshot.png?

[2018-04-16 19:45] FilipMiletic commented on #158
@cmyr I will build it and try to reproduce tomorrow morning and report back!

[2018-04-17 09:56] Kirow opened #170 "Incorrect font size on app launch"
When I launch the app I always start with 14pt font size, even when I have different value in settings file.
So I need to go to the settings and make 2 changes before I can get needed font size.

For example:
- settings font size = 20
- when app launch I see font size 14 instead of 20
 - need to change from 20 to 19 for example, hit save
 - then change from 19 to 20 and save file again

[2018-04-17 15:34] cmyr commented on #170
@Kirow What is your "font_face" setting? is it possible that this font is missing, and we're using a fallback font?

It's possible that there's a mismatch between the font in the default config file and the font that we're actually shipping with xi-mac.

[2018-04-17 15:51] Kirow commented on #170
@cmyr I used default settings,  just increased `font_size`
[code]

then played with `tab_size` param,  just to check that it don't have same problem as `font_size`.

[2018-04-17 15:52] cmyr commented on #170
@Kirow Can you change "font_face" to a font you know you have installed? say, "Menlo"?

[2018-04-17 15:55] Kirow commented on #170
@cmyr Yes, it works with Menlo correctly. But I think I've read somewhere that `InconsolataGo` was bundled into the app.

[2018-04-17 16:00] cmyr commented on #170
@Kirow yea, this is the problem: we actually bundle `Inconsolata`, but the default config file names `InconsolataGo`, which is a variant of the font we were using earlier. Will have to update that. In the meantime if you change `InconsolataGo` to `Inconsolata` in your prefs file things should work as expected.

[2018-04-17 16:00] Kirow commented on #170
@cmyr Ok, understood. Thanks

[2018-04-17 16:01] cmyr commented on #170
And if you're interested in submitting a fix, this would be a matter of updating this file: https://github.com/google/xi-editor/blob/master/rust/core-lib/assets/client_example.toml

[2018-04-17 16:31] cmyr commented on #170
@Kirow okay, no worries! and yes, I agree that font-size should always be used.

[2018-04-17 17:42] Kirow opened #171 "Shortcuts do not respect DefaultKeyBinding.dict ?"
I have custom `~/Library/KeyBindings/DefaultKeyBinding.dict` file (Windows user habit):
[code]

**Home** / **End** works fine, but **Shift-Home** / **Shift-End** - not. I hear error sound instead. Should work same way as **CMD-Shift-Left** / **CMD-Shift-Right**

[2018-04-17 17:45] raphlinus commented on #171
These bindings are simply missing (see https://github.com/google/xi-mac/blob/master/XiEditor/EditViewController.swift#L290). It would be a fairly straightforward patch to add them; probably would require a patch to both front-end and core.

[2018-04-18 16:00] #170 closed

[2018-04-26 16:38] scholtzan opened #174 "[GSoC] Find enhancements"
This is a basic roadmap of the steps I am planning to take to provide a more advanced interface for find and replace in xi mac. These steps are related to https://github.com/google/xi-editor/issues/634

## Roadmap

_I am planning to refine this roadmap over time._

- [x] Interface for search, replace and Regex search
- [x] Fixing of bugs
    - [x] Find UI magnifier icon not shown (https://github.c

[2018-05-03 03:20] nangtrongvuon opened #176 "[GSoC] Xi-Mac UI Improvements"
This is a list of goals that I aim to meet in order to improve Xi-Mac's UI and make it more featured and usable editor on MacOS.

This roadmap is a work in progress and subject to changes and improvements.

**Roadmap**
- [x] Status bar
- [x] Implement UI elements for LSP Support
    - [x] Autocomplete Menu
    - [x] Show Definition Menu
    - [x] Go to Definition Menu
- [ ] Implement split views
-

[2018-05-11 10:02] gnzlbg opened #178 "Document keys ?"
I am giving the editor a try and was trying to find key sequences to move around, open files, search forward/backward, replace, etc - I am familiar with both vi and emacs and nothing I tried worked, and I have not been able to find any docs.

Maybe add a small section to the readme explaining how to do basic things with the editor ?

[2018-05-16 17:24] scholtzan opened #179 "Interface for find and replace"
The current search interface needs to be extended to support more advanced search and replace functionality. We should discuss what the UI for this should look like.

I created a mockup for the GSoC proposal which provides a rough idea of how the user interface would need to be adapted.
<img width="869" alt="mockup" src="https://user-images.githubusercontent.com/1239705/40132199-01fb7c66-58f1-11e8

[2018-05-16 21:38] cmyr commented on #179
cc @nangtrongvuon

[2018-05-17 02:04] nangtrongvuon commented on #179
That looks like what I had in mind. One thing I'd do differently is have Replace be a checkbox like TextEdit:
![TextEdit Menu](https://user-images.githubusercontent.com/12481747/40152762-c02ab82c-59b0-11e8-8d60-7cadf9a478cd.png)

Other than that, this looks exactly like what I had in mind. Would the highlight colors be pre-defined or themed to the user's preferences?

[2018-05-17 13:16] nangtrongvuon opened #180 "Status Bar for Xi-Mac"
Along with xi-editor's issue [#665](https://github.com/google/xi-editor/issues/665), this issue serves as a place to track the work in progress to implement a status bar frontend in Xi-Mac.

Part of #176

- [x] Blank status bar anchored at bottom of each EditView
- [x] Front end support for status bar items
- [x] Wiring status bar and items to core

[2018-05-17 21:54] #169 closed

[2018-05-17 21:54] #167 closed

[2018-05-17 22:08] cmyr commented on #178
By and large, the mac client attempts to implement the standard Apple/Cocoa key bindings; a comprehensive list of those are [here](https://support.apple.com/en-ie/HT201236) (particularly the section titled 'Document Shortcuts') although we don't implement them all.

[2018-05-17 23:34] scholtzan commented on #179
The idea is to have several search fields which can be added with the (+) button. I agree, this is might be unusual since it is not supported by other editors.
But it might improve readability when working with more complex queries. For example, to investigate specific patterns in log files, one regex might get quite long and hard to understand:
`(Connect to 192\.168\.\d{1,3}\.\d{1,3}|Connection t

[2018-05-18 08:25] gnzlbg commented on #178
Maybe this could be added to the readme? :)

[2018-05-18 10:43] cmyr commented on #179
I think this is an interesting idea, and could definitely be worth exploring. If it's something we make possible at some point, we would want to make sure it doesn't make the UI any more complex in what will by far the most common case, which will almost certainly be single-expression search.

I think your design does a reasonable job with this; the single '+' to the right of the search field will

[2018-05-18 16:48] scholtzan commented on #179
I think the replace field can be shown/hidden using the checkbox that @nangtrongvuon suggested.

The "redesigned" find logic in the core already considers support for multiple queries. But in order for the front-end to support them we need to resolve google/xi-editor#650. Though, I suppose that will happen in the not too distant future.

For now I'd say that all groups are active and could be repl

[2018-05-19 22:32] kant111 opened #181 "Doesn't seem to work on mac. Could not compile `xi-rope`"
I followed the below instructions
[](

And I get the following Error when I run `xcodebuild`

[code]

[2018-05-20 00:08] cmyr commented on #181
@kant111 what's the output of running `rustc --version` from a terminal? What happens if you run `cargo build` from `xi-editor/rust`?

[2018-05-20 05:57] kant111 commented on #181
`rustc --version`
rustc 1.21.0 (3b72af97e 2017-10-09)

cargo build from xi-editor/rust

[error[E0277]: the trait bound `str: std::marker::Sized` is not satisfied
   --> rope/src/rope.rs:710:37
    |
710 |                 let (pl, poffset) = self.prev_leaf()?;
    |                                     ^^^^^^^^^^^^^^^^^ `str` does not have a constant size known at compile-time
    |
    = help: the

[2018-05-20 06:51] kant111 commented on #181
upgraded rust to `rustc 1.26.0 (a77568041 2018-05-07)` and Xcode to 9.X as stated in the instructions and it works. Sorry.

[2018-05-20 06:51] #181 closed

[2018-05-23 00:54] vlovich commented on #179
This is super-useful for looking at logs (based on log analysis tools I’ve
built at Apple and seen internally at Google).

One suggestion I have is to consider how one might remove the nth query
quickly with a single click when there are multiple rather than needing to
manually erase the text (maybe an x inline in the text field Right
justified could remove the row altogether rather than just remo

[2018-05-31 18:37] #120 closed

[2018-05-31 18:45] #154 closed

[2018-06-01 02:51] vors opened #188 "Cannot open a text file, after trying to open a binary file"
## Repro steps

1. Build `XiEditor.app` locally, start it.
2. Open a binary file thru the open menu. Nothing happens (assume it's not supported)
3. Try to open any text file.

## Expected

You should be able to open text file.

## Actually

Nothing happens when you try to open a text file.

[2018-06-01 03:07] raphlinus commented on #188
This is probably a panic caused by failing utf-8 validation. Grabbing log output would say for sure. In any case, the fix is no doubt to improve error handling, and maybe do something useful - opening the file in a hex mode would be a particularly developer-friendly action.

In any case, this is almost certainly a xi-editor issue rather than xi-mac.

[2018-06-01 16:41] jansol opened #189 "xi-mac is "Using Significant Energy" even when no windows are open"
xi-mac shows up in the "active battery drainers" list in the macos battery level dropdown almost all the time when it is running, regardless of open files. Activity monitor shows that xi-core is doing *something* even though it doesn't seem to have reason to.

Sample taken from Activity Monitor:
[code]

[2018-06-06 18:05] scholtzan opened #192 "Display number of matches in search bar"
The core sends `find_status` notifications to the frontend containing information about the number of matches. This number should be displayed in the search bar, similar to this:
![screen shot 2018-06-06 at 10 58 42](https://user-images.githubusercontent.com/1239705/41056377-d1c479f6-6978-11e8-9cbd-599d1bab6e62.png)

There is already a `// TODO` in the code where the number of matches are processe

[2018-06-06 23:45] cmyr opened #194 "find bar looks out of place when unified_toolbar = true"
We should probably be styling the find bar as well, in this case, or else we look like this:

![screen shot 2018-06-06 at 7 44 33 pm](https://user-images.githubusercontent.com/3330916/41070670-16ec1dce-69c2-11e8-9a72-b8af1bdfb0e7.png)
![screen shot 2018-06-06 at 7 44 40 pm](https://user-images.githubusercontent.com/3330916/41070672-194e0f50-69c2-11e8-9122-f3fd186c5312.png)

[2018-06-06 23:46] cmyr opened #195 "shift + return in search bar should send find_previous"
Currently shift doesn't modify the action, e.g. we send `find_next`.

[2018-06-07 02:10] #180 closed

[2018-06-07 06:32] jansol commented on #188
Tried reproducing, got a window without a gutter like I had at some point earlier. Nothing useful in the log file though...

[2018-06-07 14:12] cmyr commented on #188
I'm not able to reproduce? When I open a binary I see an error in the console about `"failed to load file"`  (which doesn't seem to be getting handled correctly) and I get a new blank window that isn't attached to core, but I can still open other windows.

We should definitely be surfacing the error the the user and closing the window, on the xi-mac side. On the core side we should make sure that

[2018-06-07 15:12] cmyr commented on #188
In any case in xi-mac we weren't handling error results at all; I've addressed this in #196. @vors I'd be curious to know what happens when you try that patch?

[2018-06-08 05:47] vors commented on #188
Hm, indeed I cannot repro it on master anymore: it loads the text file after the failure to load a binary one.
@cmyr thank you, yes, your patch works great

![image](https://user-images.githubusercontent.com/816680/41140884-b5d748cc-6aa4-11e8-8986-3ac838f69f0d.png)

[2018-06-08 19:54] #192 closed

[2018-06-08 20:12] cmyr commented on #188
@vors yep definitely room for improvement there, opened an issue in core to track. 😄.

[2018-06-08 20:27] #188 closed

[2018-06-08 21:16] nicpottier opened #199 "Soft wrap to window width?"
Big fan of the project goals and really impressed with the quality of things already!

One question, I see settings to do soft wraps at a set number of characters, but that feels a bit unnatural in OS X when you resize the window to something larger. Is this by design or some setting I'm not seeing?

[2018-06-08 22:04] cmyr commented on #199
@nicpottier you need to set `word_wrap = true` in your preferences. (This was merged about an hour ago in #187, so you may need to pull and rebuild)

[2018-06-08 22:12] nicpottier commented on #199
Oooh, shiny! Just grabbed both and rebuilt and now I'm getting a beachball though. :( Any logs I can provide to help? (where would they be?)

[2018-06-08 22:19] cmyr commented on #199
mmmmm try launching from within xcode? a bunch of changes landed today so I wouldn't be surprised if something is broken.

[2018-06-08 22:21] nicpottier commented on #199
Hrmm.. tracked it down to actually me having a buffer open that then crashes when word wrapping is off. I'll see if I can repro it within XCode and open a new issue. (it seems to be present on that file both in the previous version and this new one, so unrelated I think)

Did get this soft wrapping working though, thanks!

[2018-06-08 22:21] #199 closed

[2018-06-08 22:47] nicpottier opened #200 "Beachball when viewing large file with no wrap"
1. Set `word_wrap` to false, set `wrap_width` to 0
2. Load attached file. (rename to `.xml`)

Expected:
File loaded on a single line.

Actual:
Beach ball.

I can repro in XCode and stop it but not sure what to share here.

[2018-06-08 22:47] nicpottier commented on #200
[contact_export_19.xml.txt](https://github.com/google/xi-mac/files/2086386/contact_export_19.xml.txt)

[2018-06-08 22:53] cmyr commented on #200
Okay thanks nic will take a look at this.

[2018-06-09 14:52] cmyr commented on #200
Ah yea this is a dupe of #20. I'm not sure how best to handle this; we may want to have some heuristic in xi-mac where we don't try to compute the full width of a line that exceeds some threshold length?

[2018-06-09 14:52] #200 closed

[2018-06-09 15:07] nicpottier opened #201 "Crash when killing second line repeatedly"
Repro:
 * open blank file
 * write text on first line
 * write text in next line, with cursor at end of line
 * ctrl-a to go to start of line, then ctrl-k repeatedly.

Expected:
 * line deleted, extra ctrl-k's no-noops

Actual:
 * crash

Note doesn't seem to repro on the first line.

[2018-06-09 15:14] cmyr commented on #201
I'm guessing this is only a problem when word wrap is on? Looks like this is probably https://github.com/google/xi-editor/issues/625, we might've been a bit premature getting this in. 😕

[2018-06-09 15:17] raphlinus commented on #201
Hopefully google/xi-editor#648 (just merged) fixes this. Give it a try.

[2018-06-09 19:44] nicpottier commented on #201
👍 yep that fixes it!

[2018-06-09 19:44] #201 closed

[2018-06-13 15:32] singularitti opened #204 "Cannot copy text from xi-editor"
With current build of xi-editor, I cannot copy text from it on macOS 10.13.5. The clipboard is not updated after I select and copy text in xi-editor.
I use Xcode 9.4 to build, and my `rustc` version is `1.26.2 (594fb253c 2018-06-01)`.

[2018-06-13 15:40] cmyr commented on #204
This is possibly related to #196. I'll take a look.

[2018-06-13 15:47] cmyr commented on #204
Indeed, wasn't handling this case correctly. Thank you @singularitti! 🙇

[2018-06-19 14:11] #204 closed

[2018-06-23 09:03] tiyee opened #208 "BUILD FAILED"
[code]
my xcode version is `Version 9.4.1 (9F2000)`
my rust version is `1.27.0`

[2018-06-23 09:09] #208 closed

[2018-06-29 15:56] jansol opened #212 "Word wrap is unbearably slow on large files"
Opening large files (sqlite3.c amalgamation) takes 5-10s during which xi-mac only shows a blank window. The same phenomenon occurs when scrolling right after resizing the window.

[2018-06-29 15:57] jansol commented on #212
Oops, wrong repo

[2018-06-29 15:57] #212 closed

[2018-07-03 18:52] lord opened #215 "Build script broken by cargo workspace"
As described in the comments of #213, looks like the `build-rust-xcode.sh` script is looking for the binary in the `xi-editor/rust/syntect-plugin/target`, but since there's [now a Cargo workspace](https://github.com/google/xi-editor/pull/730) in the `xi-editor/rust/Cargo.toml`, the `target` folder is now at `xi-editor/rust/target`.

[2018-07-03 22:15] cmyr commented on #215
I'm having trouble reproducing this; doing a clean build on master/master (xi-mac ea87386 and xi-editor 5b9d874) I don't have any errors? 😕

[2018-07-05 08:33] Deltafire commented on #215
I've just tried building this for the first time and run into the same error:

[code]

[2018-07-06 13:30] #215 closed

[2018-07-10 02:31] daleione opened #217 "xi-mac crash"
mac high sierra 10.13.4

- xi-mac version 8e6f47f303b24ac965e1594a4e261e2bfbd7183
- xi-editor version 83ba52a28479f6ad0256641995974c3194eeae8b

both is the lastest version.
rustc 1.27.0 (3eda71b00 2018-06-19)

![image](https://user-images.githubusercontent.com/4003971/42485928-5425600e-842c-11e8-9025-aa7e62aa5529.png)

[2018-07-10 14:42] cmyr commented on #217
Okay, thanks, I see the problem, will get a fix up in a sec.

In the future, if you could copy the text of the crashlog that would  be easier than a screenshot, but thanks for the report!

[2018-07-10 14:55] cmyr opened #219 "Replace buttons misaligned"
I merged all of the replace work this morning, and then when I rebuilt master/master I noticed that the replace buttons are back to being misaligned with the find buttons. Not sure exactly what was up, maybe there was a rebase or something that I missed which screwed up the storyboard? In any case, would be nice to get this fixed again.

Also: we have working find and replace! This is very excitin

[2018-07-10 15:30] #217 closed

[2018-07-10 16:50] wolfadex commented on #208
@tiyee how did you end up resolving this issue? I'm also encountering it

[2018-07-10 21:40] cmyr commented on #219
Hmm, on another computer and now I think this might be related to either Xcode version or macOS version? I saw it when building with 9.2 on 10.12.x, but not on 9.4 / 10.13.x. 😕

[2018-07-10 21:43] scholtzan commented on #219
I saw that the `fillEqually` option is only supported on 10.13+ (https://developer.apple.com/documentation/appkit/nssegmentedcontrol/distribution/fillequally). Maybe it has something to do with that.

[2018-07-10 21:44] cmyr commented on #219
Yep that's probably it. I think this is fine, being misaligned on 10.12 is not a big deal, 10.14 will be out shortly.

[2018-07-10 21:44] #219 closed

[2018-07-10 23:28] scholtzan commented on #9
This can be closed now.

[2018-07-11 04:44] #9 closed

[2018-07-13 02:31] daleione opened #222 "xi-mac broke when my mac wake from sleep"
xi-editer: da5396d9447bb8dba4e9070450430b5ea8c64016
xi-mac: 7ae9f9cb95fbf731dcbb831568c283b273671e9
rust: 1.27.1

Process:               XiEditor [6341]
Path:                  /Users/USER/*/XiEditor.app/Contents/MacOS/XiEditor
Identifier:            com.levien.XiEditor
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           XiEdit

[2018-07-14 01:20] singularitti opened #224 "Enhancement request on Find and Replace"
Glad to see xi-mac has implemented basic Find and Replace functionality! The general experience is good, but I still think there could be an enhancement.

That is, when I press cmd+F or option+cmd+F, I find that the Find&Replace bar covers the first and second line text as shown below:
1. original view
<img width="863" alt="original view" src="https://user-images.githubusercontent.com/25192197/427

[2018-07-14 15:18] cmyr commented on #224
Ah I had a response last night but I guess I didn't send it.

1. I definitely agree with this behaviour when the text view is scrolled 'to the top'; that is, if the y origin is visible, I think that the find/replace view should shift the text down, keeping it all visible.

2. I'm less clear about what the behaviour should be when the text view is not scrolled 'to the top'. _Some_ text is going to

[2018-07-15 02:08] singularitti commented on #224
@cmyr I agree your last point, I think we could mimic the behavior of TextEdit.app, which is shown in your screenshot.

[2018-07-15 02:13] cmyr commented on #224
I guess my point is that when the find view is visible, there is less screen space available for text. _Some_ text is going to have to be hidden, and it's really a matter of whether we hide that text at the top (covering it with the find view) or if we hide it at the bottom, by pushing it off screen.

[2018-07-15 02:21] singularitti commented on #224
Yes, I kind of understand your comment. Well, for me, I prefer pushing the text off screen, if I want to see the pushed-off text, I could press `ESC` to cancel the view. A less consistent behavior (cover the text) is more annoying to me.

[2018-07-15 03:22] jansol commented on #224
I also favour pushing text down, since in a text editor text is generally read top-to-bottom so keeping the topmost line constant makes it easier to re-orientate oneself. Contrast with most IM clients, where the initial focus tends to be at the bottom, because more recent messages tend to be much more relevant.

A hybrid approach could also work: push text down *unless* that would obscure the line

[2018-07-16 02:22] singularitti commented on #224
@jansol That's a good idea. I observed that TextEdit.app's behavior is that when user triggers Find&Replace, the cursor just jumps to Find&Replace bar and the text is pushed down, when `ESC` is pressed then everything recovers. I think it is a good hint since user is expected to type inside Find&Replace bar immediately rather than still focus on the cursor.

[2018-07-17 22:11] jrmuizel opened #227 "Files with long lines don't seem to be handled well"
I have a file that's 57MB with 8 lines. The xi-mac front end is completely unusable on this file.

It spends all of the time in EditView.render()

[2018-07-18 14:44] cmyr commented on #227
Yea, there's a tracking issue up for this, #20. Going to close as a dupe, but thanks for opeing. 😎

[2018-07-18 14:44] #227 closed

[2018-07-20 05:56] nangtrongvuon opened #230 "[RFC] Autocomplete Design"
# Xi-Mac Autocomplete

The interface for autocomplete in Xi-Mac will be based off Microsoft’s own IntelliSense user interface, as per the LSP Specification (“Completion items are presented in the IntelliSense user interface”).

At its core, autocomplete will serve as a guide to the code that the user wishes to type. It should look and feel minimal while not distracting from the coding process. The

[2018-07-20 08:35] daleione commented on #222
any update? It happend several time!

[2018-07-20 09:43] jansol commented on #230
NetBeans also has some rather neat code completion / reference [features](https://netbeans.org/kb/73/java/editor-codereference.html#codecompletion), which I believe deserves being brought up here.

In general I'm very much a fan of what XCode does and approve of the (so far) similar design for xi. Just a couple of notes:
* Add symbol type icons at least to the extended view. Everything besides sub

[2018-07-20 15:05] cmyr commented on #222
Sorry, missed this issue.

Do you happen to be using an external monitor?

[2018-07-20 16:51] cmyr commented on #230
This looks good @nangtrongvuon!

A few notes:

you'll notice that in all of your screenshots, the start of the current symbol lines up with the start of each item in the suggestions list. You'll even notice that on Xcode, they adjust whitespace to the left in order to ensure that this alignment is consistent. I think this is an important visual cue that we will want to maintain.

I would check out

[2018-07-21 10:42] lukakerr commented on #142
@cmyr @rolftimmermans Regarding the sidebar/file navigator, i've been doing some work on a personal project [Twig](https://github.com/lukakerr/twig) which makes use of an `NSOutlineView` to render in folders/files. It uses a `NSSplitView` with the left split view item being the sidebar, and the right being everything else (the text view etc). This way things like collapsing and resizing are handle

[2018-07-21 10:57] rolftimmermans commented on #142
I just wanted to pitch in that my priorities are currently not on contributing to Xi, but this is still the "primary" issue that prevents me from using it for anything productive.

Tackling it seems like an obvious first step towards getting more people to use it on macOS.

In the future I'll definitely consider working more on Xi if time permits.

[2018-07-21 16:06] ryanbloom commented on #230
The white background looks Mac-native, but I also like how Atom and VSCode change it based on the theme. Maybe the theme could control the autocomplete menu when the `unified_titlebar` preference is enabled?

Ideally themes would have a separate field for the autocomplete menu, but (correct me if I'm wrong) I don't think xi-core can support that yet. An interim solution is to re-use one of the exi

[2018-07-21 16:41] ryanbloom opened #231 "Memory leak when windows are closed"
Xi's memory usage increases whenever a file is opened, but doesn't decrease substantially when files are closed. In the Xcode memory debugger, it looks like a reference cycle is keeping old `EditViewController`s in memory.

Here's the closest thing I've found to a fix (see [this branch](https://github.com/ryanbloom/xi-mac/commit/cd18ff80c83dacf58a5ad76ebc569b478488f46f)):

1. Make `EditView.dataSo

[2018-07-21 19:49] cmyr commented on #142
@lukakerr I would be happy to support this work. Twig looks quite lovely. Just out of curiosity, are you using a custom tab bar implementation?

This will ultimately (probably) require us to think about the concept of a 'workspace'. Do all open windows implicitly have a 'workspace'? We've been talking about the eventual need to (probably) add some concept of a workspace in core, that can handle th

[2018-07-22 00:16] lukakerr commented on #142
@cmyr For Twig i'm just using the system tabs, since the NSDocument app architecture is used - the screenshot may look a bit different since i'm running macOS mojave with dark mode.

Also, I should mention that since each tab in xi-mac (and also in Twig) is its own new window, the sidebar will essentially be a new instance for each tab. This is how it is in Twig currently, except each sidebar inst

[2018-07-22 00:57] cmyr commented on #142
At some point in the foreseeable future I would like to have split views in xi-mac, and I also think we will probably move away from using the NSDocument stuff, which means we'll end up with our own tab controller and (I suspect) our own NSWindow + Controller subclasses; in this world it should be pretty trivial to have a sidebar that is shared between tabs.

[2018-07-23 04:01] daleione commented on #222
Yes, I use a dell monitor when my mac closed daily. Only mac at night.

[2018-07-25 20:55] afgomez opened #233 "Cmd-Z should move the cursor to the point where the undo happens"
Hi!

First of all, thanks for the job you're doing in the editor :) I gave it a try and found a small usability issue. When editing a long file (more than one scroll page), moving the cursor, and undoing, the cursor should move back to the point where the previous edit happened.

### Steps to reproduce:
1. Open a long file
2. Write something on the top of the file
3. Scroll down, and click somewhe

[2018-07-25 22:10] cmyr commented on #233
@afgomez thanks for the issue, I agree that some feedback when an undo occurs out of view would be useful. Implementing this will be work in xi-core; if you'd like to open an issue [there](https://github.com/google/xi-editor/) that might be best, otherwise I'll leave this here and move it over next time we do issue cleanup. 😄

[2018-07-26 14:14] cmyr opened #234 "statusbar should set a timer before hiding when item is removed"
Currently with some of the LSP stuff we get a very blinky statusbar. I think ideally when the last item is removed from the statusbar, it sets a timer for a second or so in the future and then when that timer fires, if the statusbar is still empty, it gets hidden.

Statusbar showing/hiding is something that we also might consider animating at some point.

[2018-07-26 21:56] afgomez commented on #233
@cmyr do you mean xi-editor? I'll close this issue and open another one there then.

[2018-07-26 22:00] #233 closed

[2018-07-26 22:15] cmyr commented on #233
@afgomez thanks!

[2018-07-27 08:35] jansol commented on #156
#232 addresses this at least partially.

[2018-07-27 08:42] jansol commented on #194
Looks like it's broken again, now the find bar appears to be transparent...

[2018-07-27 09:15] jansol commented on #222
Does it only happen when you unplug the external monitor while the mac is asleep and xi is running? Or also if the external monitor is (a) plugged in all the time or (b) not plugged in at all?

[2018-07-27 09:20] jansol commented on #44
Appears to be fixed now, so this issue can presumably be closed?

[2018-07-27 09:22] jansol commented on #102
Issue cleanup bump. What's the status on this?

[2018-07-27 11:36] daleione commented on #222
I got the mac closed and unplug the external monitor when xi-mac running. Then when I plug the external monitor back, it crash.

[2018-07-28 22:13] #44 closed

[2018-07-28 22:14] cmyr commented on #102
This would likely still be a performance improvement, but doesn't seem particularly pressing.

[2018-07-29 05:18] jansol opened #238 "Xi-mac forces mac to switch to high performance GPU"
Launching xi-mac unconditionally switches my mbp to use the dedicated GPU, causing it to heat up and likely being at least partially the reason for #189 .

Alacritty has the same issue (since it also uses OpenGL for its rendering) and an easy looking solution is proposed [here](https://github.com/jwilm/alacritty/issues/210#issuecomment-271249897).

[2018-08-06 18:07] #174 closed

[2018-08-07 02:42] #238 closed

[2018-08-07 02:58] jansol commented on #189
Closed by #240

[2018-08-07 02:58] #189 closed

[2018-08-07 03:12] jansol opened #243 "Passing multiple files to `xi` should honour the system setting for opening tabs vs windows"
Currently passing multiple files causes them to be opened as separate windows regardless of the `System Preferences` -> `Dock` -> `Prefer tabs when opening documents` setting.

[2018-08-07 07:56] golddranks opened #244 "Build fails"
With the newest master (both xi-editor and xi-mac):

[code]

I'm know virtually no Swift so I'm having hard time to decipher what the problem is.

Btw. my `swiftc --version` says:
[code]

[2018-08-07 11:13] lukakerr commented on #244
In Swift 4.1 there were [some changes](https://github.com/apple/swift-evolution/blob/master/proposals/0191-eliminate-indexdistance.md) to `C.IndexDistance` (or `Collection.IndexDistance`). Try updating your swift version, i'm on 4.2, but 4.1.3 should be good enough to fix it

[2018-08-07 13:34] cmyr commented on #244
This is annoying because afaik Swift 4.0 is the latest you can run on 10.12.x, so this error will be there for anyone running that.

I'd happily accept a patch that adds back the `Int(..)`, which will work across more versions of swift.

[2018-08-07 13:39] #224 closed

[2018-08-09 00:01] golddranks commented on #244
Uh oh, I'm stuck on macOS 10.12.6 Sierra because of company policies. That means that I can't install XCode 9.4 that supports Swift 4.1.

I guess I'll be sending a patch.

[2018-08-09 00:14] golddranks commented on #244
Oops, that was already fixed in https://github.com/google/xi-mac/commit/445274a504d2f4a44f94a1a0327d53899b01cfc8 ! Thanks! Confirmed to work now so I'm closing this.

[2018-08-09 00:14] #244 closed

[2018-08-16 07:07] coin723 opened #248 "thread 'main' panicked"
I had built XiEditor from this repository and used it well.

However, I can't run/open the app which is built with latest code here.

Here's the log:

note: Run with 'RUST_BACKTRACE=1' for a backtrace.

And this is the log of the case of a backtrace:

stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
   1: std::sys_common::backtrace::print
   2: std::panicking::defau

[2018-08-16 15:32] cmyr commented on #248
Interesting. @betterclever maybe related to fern changes? Haven't tried to reproduce yet.

[2018-08-16 16:00] cmyr commented on #248
@coin723 does https://github.com/google/xi-editor/pull/783 fix this for you?

[2018-08-16 17:06] #248 closed

[2018-08-16 17:15] coin723 commented on #248
@cmyr Building with that fix solved the problem. Thank you!

[2018-08-20 16:12] jansol commented on #18
Any progress on this? Might be worth opening at least a WIP pull request so others can test and comment on it better.

As for positioning the suggestions, at least for Japanese the segment being edited is further split into subsegments and the suggestion box is aligned with the start of the current subsegment (source: TextEdit, Xcode and Pages). For the multi-cursor scenario I'd stick with my prev

[2018-08-20 16:16] jansol commented on #111
There's a menu item for installing the helper script mentioned in the OP now.

[2018-08-20 16:16] #111 closed

[2018-08-20 16:37] jansol commented on #14
Status bump?

[2018-08-20 16:42] jansol commented on #42
(Needs some concrete resource usage numbers from various kinds of files)

[2018-08-20 16:48] jansol commented on #243
Fixed in #241

[2018-08-20 16:48] #243 closed

[2018-08-20 16:52] jansol commented on #178
Including all shortcuts and their subtle variations would be way too much for the readme IMHO. Not to mention that it works pretty much like every other *GUI* text editor on macOS.

That said, a command palette like in Atom/VSCode/Sublime/Blender would be neat.

[2018-08-20 23:36] #70 closed

[2018-08-21 02:10] scholtzan opened #251 "UI for Multiple Search Queries"
I have been thinking a bit about how the UI for multiple search queries could look like so that it is clear for users how to use the feature.
To avoid confusion, I think it is best to disable the feature by default, meaning that no buttons for adding/deleting additional search fields are shown. Users can activate multiple search queries through a menu option or some key sequence.

## Adding/deleti

[2018-08-21 06:06] jansol commented on #251
* Should users be able to add a bunch of empty search fields?
  * Yes, AFAIK there is no good reason to prevent them from doing so, and it helps with consistency

* Should deleting the last search field be prevented?
  * This feels a lot like footgun safety to me so I'm leaning towards yes, hide the 'remove field' button when there is only one field left. Allowing removing the last search field as

[2018-08-21 06:09] jansol commented on #231
#235 seems to fix all of the points raised here.

[2018-08-21 06:09] #231 closed

[2018-08-21 06:47] jansol opened #252 "Create a Help Book for xi-mac"
This could contain a table of default shortcuts, available config variables and their defaults, theming docs etc...

TL;DR: to achieve this a .help bundle needs to be added to the .app bundle's Resources directory. For details on how to create a .help bundle, see
https://developer.apple.com/library/archive/documentation/Carbon/Conceptual/ProvidingUserAssitAppleHelp/authoring_help/authoring_help_bo

[2018-08-21 13:53] cmyr commented on #18
We had this working before the openGL stuff. I believe it isn't working again now, or at least that the IME window is being presented incorrectly.

[2018-08-21 13:56] cmyr commented on #14
Although I don't believe we added a concrete fix, it does look like at least the flickering has been resolved, probably because of the delayed rendering stuff in https://github.com/google/xi-editor/pull/626. Since this was really a UI issue, I think that fix is acceptable.

[2018-08-21 13:56] #14 closed

[2018-08-21 14:00] cmyr commented on #42
I think this was mostly resolved in https://github.com/google/xi-editor/pull/453. Would accept a new issue for any specific follow-up.

[2018-08-21 14:00] #42 closed

[2018-08-21 14:11] jansol commented on #18
Currently the IME window is stuck to the bottom left corner so yeah, not presented correctly.

[2018-08-21 14:29] jansol commented on #195
Huh, looks like github didn't pick this up from the OP of #220

[2018-08-21 14:29] #195 closed

[2018-08-21 17:01] scholtzan commented on #251
Thanks for your thoughts on this!

Having something like categories provided by sounds for sure interesting and is something I will keep in mind for the future. Though, I am a bit afraid that it might result in a for the user overwhelming UI.

[2018-08-22 04:00] jansol commented on #194
And fixed again in 8901cdc818f9dda498a98a4b0817322bcfb8267f

[2018-08-22 04:00] #194 closed

[2018-08-26 04:10] jansol commented on #251
Using the standalone style for buttons inside the search field looks a bit out of place IMHO. I'd stick with inline buttons+inline style or external buttons+external style but not mix the two. In this case I might lean towards external because the inline <kbd>+</kbd> is used by xcode for adding special symbols and placeholders.

Also this makes it a bit confusing as to how the previous/next button

[2018-08-26 14:22] dustinknopoff opened #253 "Command Line Shortcut fails on file names with Spaces"
with a file called "Design Recipe.md", I get this error.
[code]

Tried using printf:
[code]

where printf has this output:
[code]

[2018-08-26 19:00] scholtzan commented on #251
Right, it might be confusing if the appearance is the same as in Xcode but the behaviour is completely different. I changed it back to having separate <kbd>+</kbd><kbd>-</kbd> buttons:

<img width="748" alt="screen shot 2018-08-26 at 11 56 35" src="https://user-images.githubusercontent.com/1239705/44631893-5d5d1480-a927-11e8-94d7-cd9d4f3c21bc.png">

The previous/next buttons consider the matches o

[2018-08-27 07:35] jansol commented on #251
Yeah I think the search fields and <kbd>+</kbd>/<kbd>-</kbd> buttons are fine like this. The only problem I can think of is someone accidentally hitting the <kbd>-</kbd> button while trying to click 'previous'. One way to avoid this would be moving those buttons over to the left side of the search fields (and swapping their order to keep <kbd>+</kbd> closer to the fields), which would also make se

[2018-09-02 01:37] #253 closed

[2018-09-15 16:31] HazemAlhalabi opened #258 "[UI Bug] Find menu is transparent when opening more than one file in a session"
The find menu (⌘+F) has the correct background color for the first file I open in a session, but every subsequent file I open has a transparent find menu.

I was able to replicate this issue every time I restarted Xi. I'm running the current version.

This might be relevant: https://github.com/google/xi-mac/issues/194#issuecomment-408353412

Thanks!

[2018-09-15 16:50] jansol commented on #258
FWIW I can't seem to reproduce this. (xi-mac 1fa66c82, macOS 10.13.6)

[2018-09-15 17:45] HazemAlhalabi commented on #258
Weird. I'm running the same version of xi-mac and macOS as @jansol
I just cloned another copy of xi-mac and built it. The same issue persists.

The first file I open has the correct background color for the find menu. Every subsequent file I open has a transparent menu. I attached a screenshot to show what it looks like:
![screen shot 2018-09-15 at 1 40 20 pm](https://user-images.githubusercontent

[2018-09-15 17:50] jansol commented on #258
Ah, you are *not* using the unified title bar, whereas I am. This used to be an issue *with* unified titlebar but that was fixed. Looks like it has regressed in the 'traditional' case at some point in the process.

[2018-09-15 17:56] jansol commented on #258
Hmm can't repro with `unified_titlebar = false` either. Could this be something like your theme cache being outdated or something? Does it still happen if you switch to another theme? Maybe also try a clean build.

[2018-09-15 18:15] HazemAlhalabi commented on #258
When I switch to another theme, the transparent find menus become correctly colored, but only for the windows that were already open. When I open another file and use the find menu again, it appears as transparent on that tab/window. See the attachment: (The top 2 windows were already open. When I switched the theme, the transparency issue was gone for those 2 windows. After switching the theme, I

[2018-09-15 19:16] ryanbloom commented on #258
I'm able to reproduce this if I completely delete the `unified_titlebar` line from my config file. Should be fixed in #259.

There's another a minor bug though: if you set `unified_titlebar = true`, then open some windows and delete that line, the windows don't update to the default appearance. Maybe the core should either send a default value or inform the frontend that it's been deleted.

[2018-09-16 00:51] cmyr commented on #258
yea `unified_toolbar` is weird because core doesn't know it exists, as a setting; that core will return arbitrary values to the client is really a bug, but it's been nice to have, and there hasn't been a real alternative, so it's stayed, but the behaviour isn't great.

Some of the config stuff could definitely do with a rethink; what we probably really want here is just a client namespace or somet

[2018-09-17 15:22] cmyr opened #260 "set up travis / CI for this repo"
We don't have much in the way of testing on the mac side, but it would be nice if we had a simple travis script set up that would at least compile the editor and run what we have.

[2018-09-17 16:01] #258 closed

[2018-09-17 17:28] cmyr opened #261 "crash when closing tab?"
I've never seen this before, and I'm not totally sure what is going on. At the time I was experimenting with quickly opening and closing tabs; looking at the code it's possible that the implicit unwrap of `editView` is failing, but I can't reproduce to test.

[code]

[2018-09-19 03:03] khaledez opened #263 "Crash when selecting text written in Arabic"
I'm new to this project, I like it.
Today, I was testing writing in Arabic in xi. It shapes the characters correctly, but when I try to select the text it crashes immediately.

Here is a screencast of what happened with me:
![output1](https://user-images.githubusercontent.com/2499718/45728661-ecf88a80-bb96-11e8-9188-e97e1d99e190.gif)

Here is a part of the crash report:
[code]

[2018-09-19 03:05] khaledez commented on #263
I would like to help in solving this issue, but I'm still new to Swift and Rust, I would need direction!

[2018-09-19 03:33] jansol commented on #263
Welcome and thanks for the report. If you post some example text (in text form) that crashes that'll make it easier for others to reproduce the crash. If you want to help out, I recommend joining the project's IRC channel (#xi on irc.mozilla.org) to make asking and answering questions a bit easier.

As usual, the first step to contributing is to get the source code and build xi by yourself. In cas

[2018-09-19 03:36] khaledez commented on #263
Thanks @jansol
Here is the text I used for testing:
[code]

I'll see what I can do.

[2018-09-19 18:48] cmyr commented on #263
This is interesting, I did some testing with hebrew in the last month and didn't find any crashers, but arabic is trickier so this shouldn't be _terribly_ surprising.

It would be nice to start adding unit tests to xi-mac...

[2018-09-19 18:51] cmyr commented on #263
Also @khaledez thank you for this issue, getting this stuff right is important, and can be easy to overlook during routine development.

[2018-09-19 23:21] ryanbloom opened #266 "Emoji colors are inverted for dark themes"
With a dark-on-light theme:

![Emoji with light theme](https://user-images.githubusercontent.com/30331733/45786337-fee13880-bc3d-11e8-9050-cdc012097a3f.png)

With a light-on-dark theme:

![Emoji with dark theme](https://user-images.githubusercontent.com/30331733/45786336-fee13880-bc3d-11e8-9a7e-011f04a3c302.png)

There are also slight variations depending on the exact shade of the theme's text col

[2018-09-20 13:03] MrSpock opened #267 "Closing cmd-f bar is hiding first file line"
When you launch find bar (cmd-f) and then close it first line in a file is "hidden" below window bar.
You can't scroll to unhide it - you need to resize window to get access to fist line.
Steps in attached screenshots:
1. Open file (1 line in example)
2. Launch find bar (cmd-f)
3. Close bind bar clicking esc.

Line is hidden/not reachable.
![xi-issue](https://user-images.githubusercontent.com/6816

[2018-09-20 13:39] cmyr opened #268 "crash on new window?"
I've now seen this twice in the past week. Not totally sure how to reproduce, it might only be happening immediately after opening the editor?

[code]

[2018-09-20 13:42] cmyr commented on #267
This is interesting, I can't reproduce.

Is this always the case for you, or only sometimes? What version of macOS are you running? Are you running the latest xi-mac build?

[2018-09-20 15:19] francisl opened #269 "Fail to open new file when xi is already started"
Nothing happen when I try to open a file if the editor is already started.

### Step to reproduce
1. Start the editor with an open a file
2. then try to open a new  file either from the menu or from the command line

This is a new build with rust 1.29

I don't know if it's related to #268,
the log file just says  `[ERROR] setup_logging returned error, logging disabled: Io(Os { code: 13, kind: Perm

[2018-09-20 15:19] MrSpock commented on #267
I have such behaviour every time.
OS High Sierra 10.13.6

[2018-09-20 15:27] cmyr commented on #269
I can't reproduce this either, I'm really not sure what's going on.

If you run the editor from within Xcode, do you see anything useful in the logs there? The other log error is unrelated.

[2018-09-20 15:36] MrSpock commented on #267
To be honest I don't remember, a specially that today there was an upgrade to Xcode :)
I will download current master and rebuild it and see if that helps.

[2018-09-20 15:39] cmyr commented on #267
yea, I haven't tested the new version of Xcode so if you're running that it could be related?

[2018-09-20 15:40] francisl commented on #269
Ok I rebuilt everything after updating xcode and now it's working fine.

Maybe there is a small thing that was breaking it, I wasn't outdated by much. So I guess I'll close it.

[2018-09-20 15:40] #269 closed

[2018-09-20 15:49] MrSpock commented on #267
I've download repo 10 minutes ago, compiled with:
Xcode 10.0
Build version 10A255
Error still exists. In fact there are 2 lines missing. I think it depends on font size.
![xi-err](https://user-images.githubusercontent.com/681680/45830470-7924c200-bcfd-11e8-8ab6-1e93c442d8a8.png)

[2018-09-20 15:57] cmyr commented on #267
okay, this may be related to Xcode 10.

[2018-09-20 16:36] akashvacher commented on #208
I ran into the same issue, and I also had the same version of Xcode (Version 9.4.1), so leaving this comment here in case someone also gets to this page after web search.

The fix is mentioned by OP, but I'll expand on it:
open xcode in App Store and just get the latest version (for me, it was Xcode 10.0). I did try to do this via CLI by running `softwareupdate --install --all` which _seemed_ to i

[2018-09-21 04:11] jansol commented on #267
Can't repro with Xcode 10

macOS 10.13.6
Font is Fira Mono 11pt

[2018-09-21 15:14] cmyr commented on #267
@MrSpock what is in your config?

[2018-09-21 22:06] cmyr opened #271 "gutter flashes when a new view is opened"
There's no reason we can't draw the gutter correctly immediately; this is probably similar to #257.

[2018-09-22 23:07] scholtzan opened #272 "Crash when opening two documents"
Right after starting Xi, opening a file works fine. However, once I open another file, it crashes.

[code]

[2018-09-22 23:24] scholtzan opened #273 "Crash when file cannot be decoded"
If I try to open a PDF file or some other file that Xi cannot decode, then it crashes instead of showing the "Cannot decode file: ..." popup.

[code]

[2018-09-23 07:08] yschimke commented on #82
Is the way forward here a brew recipe to build it?

[2018-09-23 08:34] jansol commented on #82
It's a step in the right direction yes. However, as far as I know homebrew does not accept formulae for things that don't have proper versioned releases so it won't help much yet.

[2018-09-23 08:45] yschimke commented on #82
You can host your own brew repo e.g. https://github.com/yschimke/homebrew-tap

works like `brew install yschimke/tap/okurl` -> okurl.rb

[2018-09-23 08:47] jansol commented on #82
Trust issues aside, do those get any kind of binary caching? If not, that'd defeat the point of not having to install Xcode & rust.

[2018-09-23 09:58] yschimke commented on #82
Yep - you could setit up so default downloads a binary you self host on github releases.  and --master builds from sources, so it autoupdates with builds.  But at least your build and getting build dependencies would also be automated.

But nothing like caching of built binaries by arbitrary users as a free build farm.

[2018-09-23 22:46] cmyr commented on #273
I can't reproduce this as described, but the crash log sure looks it's the same bug as #272; the last stackframe is `willScroll(to:)` in `EditViewController`, where we're unwrapping a nil value. I'm assuming this is the `editView`, which isn't set when this is called.

[2018-09-23 22:49] scholtzan commented on #273
Indeed, it's the same bug.

[2018-09-23 22:49] #273 closed

[2018-09-27 20:17] cmyr opened #275 "Move to a protocol-based interface for core"
A refactor that's long overdue: just as we define a client interface in `Client.swift`, we should define a core interface. All the various core methods would be presented through this interface; behind the surface it would wrap something like the existing `CoreConnection` class.

This will make it easy for us to change how the core connection is managed at some point in the future, and will also l

[2018-09-27 21:05] singularitti opened #276 "Support for macOS 10.14 dark mode"
Will you consider support the macOS 10.14 Mojave's dark mode?
Expected features:
1. Dark title bar: just as what they do for Terminal.app:
<img width="639" alt="titlebar" src="https://user-images.githubusercontent.com/25192197/46174523-49366b00-c277-11e8-9522-e1e7197046b4.png">
2. Allow user to choose from dark and light titlebars
3. Dynamic title bar: The titlebar's color will change from light t

[2018-09-28 03:14] cmyr commented on #276
yep, definitely would be nice to do, good to have an issue for this.

[2018-09-28 03:34] singularitti commented on #276
Great! Thanks! I think we should also allow to change the color of left sidebar(line numbers)? I forgot to mention it in the top.

[2018-09-28 16:06] singularitti commented on #276
For the third request, maybe we can let xi to detect the system theme and change according to it? I do not know how it is implemented but in some apps they could follow the system's theme.

[2018-09-28 16:16] jansol commented on #276
One thing I'd like to see that's kind of related to this is adopting translucent VisualEffectView + vibrancy (as demonstrated at [WWDC](https://developer.apple.com/videos/play/wwdc2018/218)) on *all the things*. (I love using vim in a translucent terminal.)

As for automatically changing between light and dark... xi-mac could allow that iff the current colorscheme has both a light and a dark versi

[2018-09-28 20:32] scholtzan opened #277 "View controller should access config on creation"
This issue is related to https://github.com/xi-editor/xi-mac/pull/274
When creating the view controller `configChanged` is currently called, which is causing some problems. Instead created view controlleres should start with access to a config, which they use for initial setup; and then `configChanged` should only be called when things need to be updated.

[2018-09-28 20:35] #272 closed

[2018-10-01 15:58] cmyr opened #279 "when built from Xcode, display commit # in titlebar (or something?)"
I consistently have several versions of xi-mac running, and I am regularly confused about which is which. It would be great if, when build from Xcode, xi-mac could display the HEAD hash in the menubar, or could inject an alternate app icon or something like this.

[2018-10-01 16:06] jansol commented on #279
I'd say make it specific to Debug builds (aren't those the default when building from Xcode? [seems to be easy to detect too](https://stackoverflow.com/questions/25916396/how-to-identify-if-swift-was-compiled-with-optimization)) Alternatively there might be a way to define variants of assets (i.e. app icon) based on build type (á la xamarin), or just a custom resource copy step to choose the right

[2018-10-01 17:13] jansol commented on #252
^ The above PR is meant as a starting point for anyone who wants to contribute some HTML and this issue is still up for grabs (just wanted to clarify that here). Feel free to start directly from the PR or just use it as a reference. (you can [pull the PR into your local clone directly even though it is not merged](https://help.github.com/articles/checking-out-pull-requests-locally/) if you want to

[2018-10-02 01:48] nangtrongvuon commented on #279
It could a part of the status bar, similar to Atom and VSCode in some sense.

[2018-10-02 09:45] habovh commented on #276
AFAIK and according to [the docs](https://developer.apple.com/documentation/appkit/supporting_dark_mode_in_your_interface) if the app uses semantic colors from `NSColor`, the dark mode support and the transition would be automatically handled by the system.

[2018-10-02 15:52] jansol commented on #276
There was a mention about having to use a property instead of setting the color manually in the WWDC video. Setting it manually would mean having to update it manually, whereas the property is supposed to propagete updates from the system automagically.

[2018-10-02 17:00] scholtzan opened #281 "Error for deleted files in "Open Recent""
If a previously opened file gets deleted, then xi mac prints the following error on startup when trying to add the file to "Open Recent":

[code]

[2018-10-02 18:22] cmyr opened #282 "Add menu option to select language"
This ~will depend on https://github.com/xi-editor/xi-editor/issues/863 and is related to https://github.com/xi-editor/xi-editor/issues/866; and the two might be worked on together.~ is ready!

This menu should be populated when the `available_languages` notification is received, shortly after startup. Selecting a language from this menu should apply a checkmark indicator, and should send the `set_

[2018-10-02 18:27] cmyr opened #283 "Add menu option to open syntax-specific config file"
blocked on https://github.com/xi-editor/xi-editor/issues/863.

This is related to #282; when the `available_languages` RPC is implemented, we should provide a new menu that allows the user to select any of the available languages and open its config file. Some (most) of these files won't exist, but the expected locations and names can be determined from the language names.

[2018-10-02 18:41] jkaan commented on #275
@cmyr Hi there! I could pick this one up. Would it for now just involve putting the public interface of the `CoreConnection` into a protocol and typehinting to that interface instead of the concrete implementation?

[2018-10-02 18:52] cmyr commented on #275
`CoreConnection` doesn't really have a typed interface at all; it just exposes functions for sending raw arbitrary RPCs. What we'd really like is to have a protocol that describes the legal, existing RPCs, and then implements that for `CoreConnection` by translating them into the raw RPCs.

We might also consider having a protocol for the `CoreView` interface, which describes just the RPCs that ar

[2018-10-02 18:54] cmyr commented on #275
oh, also: there was an earlier attempt at something like this, in `Dispatcher.swift`. This predates my involvement in the project, and doesn't seem to have really ever been consistently used; I would expect this new work to also result in us removing that file, I think?

[2018-10-02 19:40] habovh commented on #276
If you comment out [these lines](https://github.com/xi-editor/xi-mac/blob/1fa66c82f52c49137a61a286987451ee28ea66c3/XiEditor/EditViewController.swift#L152-L156), the title bar follows the system theme on first opening window as well. I'm not sure what these lines are here for though, so it definitely needs a more insightful research.

@jansol I think (correct me if I'm wrong) themes are loaded from

[2018-10-02 20:34] jkaan commented on #281
@cmyr I would like to start with this one, probably this is a good one to get started with and later I can pick up #275

[2018-10-02 21:00] singularitti commented on #276
It would be better if we could have the sidebar to be dark also. It is kind of inconsistent in current build:
<img width="728" alt="image" src="https://user-images.githubusercontent.com/25192197/46376701-a447d380-c664-11e8-85a4-b57afd99e1ba.png">

[2018-10-02 21:03] singularitti commented on #276
Only commenting out [those lines](https://github.com/xi-editor/xi-mac/blob/1fa66c82f52c49137a61a286987451ee28ea66c3/XiEditor/EditViewController.swift#L152-L156) will result in a weird searchbar:
<img width="614" alt="image" src="https://user-images.githubusercontent.com/25192197/46376819-01dc2000-c665-11e8-8c1d-47c8552f438b.png">

[2018-10-02 21:52] theptrk opened #285 "Deleting references to Google license"
There are still references to Googles ownership of this project on the main `README.md`. After googling around I found that this is no longer true.

https://9to5google.com/2018/10/02/xi-code-editor-no-longer-google-project/

We should delete this so readers aren't driven away

[2018-10-02 22:15] habovh commented on #276
@singularitti yes, there's definitely more to it than just a few lines to change...

I've managed to add a *macOS* entry in the Debug → Theme menu, but my approach is rather sloppy.
If I can get something that kind of works as a proof of concept, I might open a PR. Here's a preview.
<img width="730" alt="capture d ecran 2018-10-03 a 00 09 52" src="https://user-images.githubusercontent.com/4186230/

[2018-10-02 23:56] singularitti commented on #276
It looks pretty good to me! @habovh

[2018-10-03 07:41] habovh commented on #276
@singularitti It might look good on a screenshot, but I don't believe the code stands for the high-quality standard that xi-editor is aiming at. This is my first time tinkering with Swift, and like I said, xi-mac has a strong dependency on xi-core, even for the theme appearance. I'll have to dig deeper into this.

[2018-10-03 07:50] jansol commented on #276
My main concern is how that interacts with syntax themes. The vibrance blending mode will probably make that magically Just Work, but it'll need some experimenting.

Don't worry about code quality for now, sorting out that is part of the reason why PR reviews exist. WIP/RFC pull requests also have a place, and this sort of thing is exactly that place.

And last but not least, we make a point of no

[2018-10-03 07:57] nangtrongvuon commented on #276
@habovh You can make a PR, and I'll make sure to give it a look :)

[2018-10-03 16:37] terhechte commented on #279
I gave this a go in this PR:
https://github.com/xi-editor/xi-mac/pull/289

[2018-10-03 17:10] cmyr opened #290 "Implement split views"
A medium-large project for somebody, which will require some exploration and some design discussion. A PR implementing this feature is unlikely to get merged if there has not been a preliminary discussion and a loosely agreed upon design.

Eventually we would like to have split views in xi-mac, so let's at least get an issue up:

My vision for this is to work like iTerm2; that is, _any_ view can b

[2018-10-03 17:14] #285 closed

[2018-10-03 17:40] aneeshvaidya commented on #266
I'd like to try this fix! If someone could point me in the right direction I'll do some investigating

[2018-10-03 18:03] jansol commented on #266
Excellent! The relevant code is in XiTextPlane, mainly `text.f.glsl` and `TextLine.swift`. The Swift side should detect emojis (see previous comment) and communicate a flag to the shader to switch between the current behavior (a per-channel alpha mask) and the proper way to draw RGB images (equal alpha for all channels).

[2018-10-04 01:42] #234 closed

[2018-10-04 12:48] terhechte commented on #290
I'm a huge fan of split views. My emacs always looks like a Mondrian, so this excites me. I don't think that it is necessary to remove NSDocument support. There's a lot to leverage from NSDocument and even though it is a tad complicated NSWindow and NSDocument can be made to work in a many-to-many scenario (one document in multiple windows, one window hosting multiple documents). There's a rough o

[2018-10-04 14:40] cmyr commented on #290
### NSDocument:

NSDocument does provide a bunch of nice stuff, but the reality is that we already implement most of this functionality ourselves, in core. This makes our use of NSDocument necessarily pretty hacky; for instance since core handles all file persistence, all of the NSDocument methods around opening and saving end up being either noops or wrappers on core functions.

Another more subt

[2018-10-05 19:57] xeoneux commented on #266
@aneeshvaidya are you working on it? I could give it a try 😄

[2018-10-05 21:33] akxcv commented on #282
Hello, this is the number 1 option that I felt should already be there and very sad that it's missing. I'd be happy to implement this!

[2018-10-05 23:49] aneeshvaidya commented on #266
@xeoneux I'm going to take a deeper look today, but if I run into any issues or need help I'll definitely update here :)

[2018-10-06 00:36] cmyr commented on #282
@akxcv it's all yours, everything else should be in place, and it's an excellent warm-up issue!

[2018-10-06 09:14] terhechte opened #291 "Updated Icon"
As discussed in https://github.com/xi-editor/xi-mac/pull/289, I've taken some time to create a new icon for xi-mac. Instead of trying to build something with a new symbol I decided to keep the `xi` letters as it looks pretty good and as it doesn't deviate too much from the original icon. I build a couple of different icons but ultimately decided on two very different ones to showcase here. I have

[2018-10-06 18:15] cmyr commented on #282
Had mis-scoped this project a little bit; this is currently blocked on #891

[2018-10-06 19:01] cmyr commented on #291
Nice, I think both of these are an improvement on the current icon, although the current icon does have the nice quality of being bad enough to be almost not worth complaining about. 😄

Of these, I prefer the second; the first is punchier but fairly generic, and the second is more in line with other contemporary macOS icons.

That said, I do think that in the distant future there is room for us to

[2018-10-07 02:39] singularitti commented on #291
Just a personal opinion, so please do not take it too seriously. I think the second icon still have some aspects to improve.
1. The transitions in the following red rectangles look not so natural.
<img width="443" alt="screen shot 2018-10-06 at 10 22 55 pm" src="https://user-images.githubusercontent.com/25192197/46577500-a12b4b00-c9b6-11e8-9f94-5d39e432cd28.png">
Maybe it will be better if it look

[2018-10-07 14:29] terhechte commented on #291
@singularitti Sure. Both icons are rough versions, and I'd thought I'd improve on the final version as that iteration takes time. it is important to note that the big version of the icon is usually never what the people see. People mostly see the very small version. So that's where it should look good & sharp (not saying it currently does, but that's what I'd aim for).

[2018-10-07 14:31] terhechte commented on #291
Would you think keeping the green theme on the second icon is fine or would it be interesting to have the second icon as a dark version? I feel like most current editors are darkish/blueish in their icons (lest MacVim which is greenish but also not really pleasing)

[2018-10-07 14:34] terhechte commented on #171
I'll give this a go

[2018-10-07 16:40] cmyr commented on #291
I think there's a practical benefit to being easy to distinguish from existing icons.

[2018-10-07 17:27] cmyr commented on #290
This is a good point, that I probably don't know exactly what features NSDocument actually provides.

The general idea of state restoration is one of the main things I've been thinking about when I talk about 'workspaces' (https://github.com/xi-editor/xi-editor/issues/865). It's possible that this is confusing to people.

In any case, I think we can divide this state into two categories: the first

[2018-10-07 19:55] terhechte commented on #290
(I totally haven't had the time to do a deep dive into this project, so neither had I read the workspaces discussion yet, nor did I even read much from the original Rope design documents. So I may be wrong about many things ;) )

I feel like a possible approach could be to do state restoration on macOS w/ NSUserDefaults to figure out whats needed, etc. Splits info storage could be done as part of

[2018-10-07 20:04] cmyr commented on #290
This approach makes overall sense to me. I think a (temporary) regression in functionality here is okay if it's a point on a known roadmap. My personal suspicion is that it actually wouldn't be too much work to remove `NSDocument` right now; I really don't think we're using that much of it. For instance, we can get rid of `NSDocument` without having to give up window restoration (as far as I under

[2018-10-07 20:57] ryanbloom commented on #108
Was this resolved in #241?

[2018-10-07 21:54] cmyr commented on #291
Also @terhechte not sure if you've seen but here is some history: https://github.com/xi-editor/xi-editor/issues/51

[2018-10-07 22:30] cmyr commented on #108
Yes, or at least the hack that I was mainly trying to document is no more. Thanks!

[2018-10-07 22:30] #108 closed

[2018-10-10 14:19] #282 closed

[2018-10-10 14:23] cmyr opened #298 "pass logging dir to core at launch"
as of https://github.com/xi-editor/xi-editor/pull/888, we can specify the directory that core uses for logging. This should bet set at startup; we already find the system logging location in `AppDelegate.swift`, with the `errorLogDirectory` var.

[2018-10-10 15:58] akxcv commented on #282
What a lovely warmup!

[2018-10-10 17:56] cmyr opened #299 "track recently used/selected languages"
Now that we have a 'languages' menu for selecting the syntax for the current document, there's one obvious improvement we could make: it would be nice if the top had a small 'Recently Used' section, which could show the 4/5 most recent items. This could be based on either what has been sent by "language_changed", or on what has actually been selected by the user. These could be persisted between l

[2018-10-12 03:36] jansol commented on #298
The existing tmp and crash log handling in xi-mac should be removed in the process -- the new core logging makes it redundant.

[2018-10-12 04:00] jansol commented on #267
Nope, can't reproduce with default config either. @MrSpock can you try again?

What I did notice is that the find bar has lost its color in Mojave's dark mode (again) but I expect the Mojave PR to deal with that.

[2018-10-12 11:03] dodikk opened #301 "word wrap destroys the paragraph breaks below"
**GIVEN** : the text

[code]

word wrap is enabled in the config

**WHEN** a newline is added between the `Hello world` and `Here is...` lines
**THEN** all paragraph breaks below the inserted line are erased. The result text looks like

[code]

The config :
[code]

[2018-10-13 07:58] jansol opened #302 "The bottom-right corner is not styled correctly when using a (non-touch-based) mouse."
Steps to reproduce: use xi-mac with an external mouse plugged in (other than the Apple Magic Mouse)

![image illustrating the problem](https://user-images.githubusercontent.com/2588851/46902915-62dae200-cf08-11e8-8113-cb17feb76332.png)

At the bare minimum the corner should use the same color as the scrollbar background. Ideally it should also show a pattern that indicates that the window is resiz

[2018-10-13 21:32] #179 closed

[2018-10-13 21:33] #251 closed

[2018-10-14 20:09] #277 closed

[2018-10-16 17:46] jansol opened #306 "Add a context menu"
This would provide an alternative way to access things like
* Toggle comments
* Basically everything from Edit->Transform
* Find (seeded with selection or clicked word?) and Replace
* Cut, Copy & Paste

A context (right click) menu feels like a particularly natural way to issue commands that operate on selections, particularly when using the mouse to select text. This should also show the same key

[2018-10-17 18:28] cmyr commented on #301
This is really a core bug, but the closest open issue I can find is https://github.com/xi-editor/xi-editor/issues/610. In any case, this is definitely on the roadmap.

[2018-10-19 22:58] AlanFoster commented on #260
I'll see what I can do 🤞

[2018-10-19 23:02] AlanFoster opened #308 "Showing dot files"
From what I can tell, when you attempt to open a dot file - it doesn't show up in the file explorer.

## Reproduction steps

- Create a file called `.travis.yml`
- Open the file explorer within Xi
- Attempt to edit the dot file

## What happens

There is no `.travis.yml` file within the explorer

## What I expected to happen

I can click the `.travis.yml` file and open it successfully for modifica

[2018-10-20 17:04] mmatoszko commented on #263
There's a simplest workaround I could imagine:
[TextLine.swift:271](https://github.com/xi-editor/xi-mac/blob/master/XiEditor/XiTextPlane/TextLine.swift#L271)

[code]
Doing so doesn't crash, but I'm not sure if this is the right thingy to do in a following scenario.
Opinions?

[2018-10-21 00:53] AlanFoster commented on #308
I decided to learn how the NSDocumentController/NSDocument/NSWindowController pattern worked, but I don't believe there's a way to programmatically show hidden files.

There is however a short cut that can show hidden files:

[2018-10-21 10:17] lukakerr commented on #308
Just an aside: if you implement your own `openDocument` method (which is what i've done while working on the sidebar) then you can programatically show hidden files in the open file dialog. So when the sidebar (eventually) gets merged in, hidden files will be shown

[2018-10-21 11:59] AlanFoster commented on #308
Interesting! I think I've found a way to show hidden files then :+1:

[2018-10-21 21:53] cmyr commented on #260
@AlanFoster It's a bit more complicated then that.

The problem is that there's currently no way for us to compile xi-mac without compiling xi-core, because xi-core's compilation is handled by a build script in xi-mac.

I think a possible solution would be to make xi-core its own target, and then have a scheme that we use for CI that only builds xi-mac? But I'm not sure if this is the best bet, it

[2018-10-21 21:55] AlanFoster commented on #306
I'll try taking a look at this :+1: I'm not an ios/swift developer, so this may take a bit of time for me

[2018-10-21 22:18] cmyr commented on #306
@AlanFoster cool, feel free to ask Qs here if you get stuck.

[2018-10-22 14:54] #263 closed

[2018-10-22 22:42] scholtzan opened #312 "Increase/decrease font size"
In most text editors <kbd>cmd</kbd><kbd>+</kbd> and <kbd>cmd</kbd><kbd>-</kbd> offer a quick way to increase and decrease the font size. It would be cool if xi mac would also support this.

[2018-10-23 00:10] ryanbloom commented on #312
For what it's worth, I made [a hacky implementation of this](https://github.com/ryanbloom/xi-mac/commit/96888c431b49f3902b507046edd75c95171170f1) a few weeks ago. It could take more work to do properly, though, since [the docs say not to use both file-based and RPC-based config](https://github.com/xi-editor/xi-editor/blob/master/docs/docs/config.md#rpc-based-config). Then again, maybe it's okay fo

[2018-10-23 15:00] cmyr commented on #312
Hm. I could imagine this working as a per-buffer override setting? It wouldn't persist between sessions right now, but it could when we get state restoration working.

[2018-10-24 08:41] mads-hartmann opened #313 "Add CLI so xi can be used as your $EDITOR"
I want to start using xi for smaller text-editing tasks just to see how it feels. Specifically I want to use it to edit git commit messages.

xi currently bundles a `xi` bash script that simply invokes `open -a XiEditor "$@"`. To be able to use this as my git $EDITOR we'd need to extend it with a few more capabilities.

- Read from stdin
- Add a --wait flag. The `-W` flag to `open` doesn't quite g

[2018-10-24 15:01] cmyr commented on #313
@mads-hartmann this is totally something we'd like, and if you wanted to explore that would be great! I'm not totally sure what would be involved, but I suspect it will require writing a custom little binary?

[2018-10-24 15:39] mads-hartmann commented on #313
@cmyr Awesome, I'll have a look. I believe you're right, at least that's how Textmate [does it](https://github.com/textmate/textmate/blob/master/Applications/mate/src/mate.cc). I haven't written a single line of Rust before but I'll give it a go 😉

[2018-10-24 15:45] cmyr commented on #313
@mads-hartmann Although rust is definitely a reasonable choice, I think swift would also make sense? This is going to be mostly interfacing with the mac app.

[2018-10-24 15:51] mads-hartmann commented on #313
@cmyr Of course, you're right. Haven't written a single line of Swift either though 😉

[2018-10-25 18:55] #301 closed

[2018-10-26 01:08] raphlinus opened #315 "Benchmark Mojave's text painting performance"
OS 10.14 Mojave is making substantial changes to text painting. In particular, RGB subpixel painting is now [off by default](https://www.reddit.com/r/apple/comments/8wpk18/macos_mojave_nukes_subpixel_antialiasing_making/), though it is possible to turn it back on.

I haven't experimented with 10.14 yet, but have dug pretty deep into 10.12 and 10.13 (no significant differences between the two). Bot

[2018-10-28 06:09] terhechte commented on #290
Hey! I'd love to work on this, but I realistically won't have time until beginning of December as I'm almost non-stop travelling. However, from December on I'd love to look into this or help out if somebody already started by then.

[2018-10-28 15:00] cmyr commented on #290
@terhechte sounds good! I don't expect anyone will get to this before you, but we'll hopefully have made some progress on the state restoration stuff in core so there will be something for this to build on. Happy travels!

[2018-10-29 03:24] scholtzan opened #318 "Select line when clicking on line number"
When clicking on the line number, the corresponding line should get selected.

[2018-10-29 11:11] twKrash opened #319 "Build Failed"
Hi all. When running xcodebuild according to the guide I get this errors :
[code]
my xcode version: Xcode 10.0 Build version 10A255
my rust version: rustc 1.30.0 (da5f414c2 2018-10-24)

Full log output:

[code]

[2018-10-29 11:15] jansol commented on #319
Works fine for me with the exact same versions of Xcode and rustc.

[2018-10-29 11:41] emp2 commented on #319
I solved this by actually opening Xcode and letting it install whatever extras were needed. The build succeeds now - maybe this is something that will show up if you've downloaded the full version of Xcode just to compile this project?

Btw, I'm on the same version of rustc and xcode.

[2018-10-29 11:43] jansol commented on #319
Maybe you didn't have Xcode's command line tools installed at first? IIRC it prompts you to install those on first launch.

[2018-10-29 11:45] emp2 commented on #319
If talking to me, I had Xcode's CLI installed since before but not the full Xcode app. After installing (but before starting Xcode) I got the same error as OP, and after starting Xcode and letting it do its thing the build succeeded.

[2018-10-29 11:46] twKrash commented on #319
Yeah, that worked for me too

[2018-10-29 14:36] #319 closed

[2018-10-29 21:21] lht opened #320 "A crash at EditView _blinkInsertionPoint"
This happened when I was quickly closing tabs, but I cannot reproduce it.  The stacktrace is different with #261.

[code]

[2018-10-29 23:04] cmyr commented on #320
I suspect this is due to the `dataSource` being deallocated, and us dereferencing a `None`. Quick fix is to change EditView:359:

[code]

[2018-11-01 04:24] #318 closed, assigned to nobody

[2018-11-02 01:02] jjgod commented on #20
One thing I noticed is that even when I just move cursor, `lineCache` used by `render` seems to be completely destroyed and recreated, that can be very expensive.

[2018-11-02 02:06] jjgod commented on #20
Also, would it still be a problem with line wrapping? In that case you only need to create short CTLines instead of a long one with all the text (while most are invisible in this case since the window can only fit so much). Then getting the offset should be fast too.

[2018-11-02 02:54] raphlinus commented on #20
It's not a problem with line wrapping, only when horizontally scrolling. And yes, one way or other we'll retain the text line on cursor motion, that's always been the plan and most of the infrastructure is in place for it even with the separation @cmyr mentioned above.

[2018-11-03 19:07] scholtzan opened #327 "Incorrect syntax highlighting"
The syntax highlighting is incorrect for the second line in the document:

<img width="281" alt="screen shot 2018-11-03 at 12 08 57" src="https://user-images.githubusercontent.com/1239705/47956408-4824e780-df61-11e8-9679-c057e5cf4ef6.png">

All lines after that are highlighted correctly.

[2018-11-03 19:14] cmyr commented on #327
@scholtzan that's definitely weird, what language is that? Is the syntax correct? Can you reproduce consistently?

a first thing to check with stuff like that is whether ST3 has the same behaviour, and you can also test with the `syncat` tool that comes with syntect; the latter is better but more annoying bc you have to download and build syntect. In any case this would tell us whether this is our

[2018-11-03 19:19] scholtzan commented on #327
The example is Scala, but it happens with other languages (Python, Rust, ...) too.
ST3 renders it correctly.

[2018-11-03 19:36] cmyr commented on #327
this is interesting, I've seen it once or twice but not consistently?

[2018-11-03 19:47] scholtzan commented on #327
Huh, weird... If I run the newest version of https://github.com/xi-editor/xi-editor/pull/971, I can't reproduce it anymore.

[2018-11-03 19:47] cmyr commented on #327
What commit were you having the initial issue with?

[2018-11-03 19:48] scholtzan commented on #327
https://github.com/xi-editor/xi-editor/pull/971/commits/1a4b00c0088d56a54595f1d433b5327628387f6d

[2018-11-03 19:52] cmyr commented on #327
Ah yea this is possibly related to auto-indent, if the highlighting isn't taking the auto-indent edit into account it might be referencing the wrong intervals when sending styles? I wouldn't expect that to be a problem, though.. 🤔

[2018-11-03 19:53] scholtzan commented on #327
Okay, it doesn't happen on master. So probably just a problem with auto-indent.

[2018-11-03 19:53] #327 closed

[2018-11-03 21:37] cmyr opened #328 "add tracing to `measure_widths`"
It would be good to have finer grained information on the performance of this method. This should be a matter of adding a couple of lines to the appropriate methods; to see more about how this works in xi-mac just search in the xcode project for "trace".

[2018-11-04 10:30] lukakerr commented on #290
I was just having a look at this (albeit only for an hour or so during a study break) and its relatively easy to implement the actual split views, the hard part comes with the separation of the window from the document. With NSDocument and native macos tabs, since each tab is essentially a document, when there are multiple split views in one tab (or window) things like saving don't work properly.

[2018-11-04 19:05] liamrosenfeld commented on #313
I've gotten a basic CLI written on my [fork](https://github.com/liamrosenfeld/xi-mac/tree/cli). It's currently able to open a given file in Xi. I'm still trying to figure out how to implement --wait.

[2018-11-06 23:33] ryanbloom commented on #312
@cmyr You're right, that could work too. VSCode seems to do a per-window override, while Sublime Text and Atom modify the original settings.

I guess there are 2 different use cases:
* Quickly change your global default font size by a point or two, and keep it that way
* Make a file big temporarily to show it to someone else

Personally, I would find the global version a little more intuitive, and

[2018-11-07 00:11] cmyr commented on #312
There are two sort of annoying limitations of both these projects:

1. because we handle global config through the config file, providing other mechanisms for managing settings is kind of a pita; we'd want some way to do structured parsing and editing of the config file, or something, to keep these things in sync; we don't have this right now. At some point we could move to using a more gui-ful se

[2018-11-07 22:59] mmatoszko commented on #102
I think it might be worth to just wait with this one, it looks like there is some work done in the String area of Swift:
[String’s ABI and UTF-8](https://forums.swift.org/t/string-s-abi-and-utf-8/17676/2).

[2018-11-07 23:12] raphlinus commented on #102
I think you're right. In any case, the original title (use NS types) is clearly not a good way forward, though it would buy us a performance bump in the short term.

[2018-11-08 21:47] blipson opened #336 "Automatically Opens Previous Session of a File That's Too Large to Process"
I opened a file in XiEditor that turned out to be too large to process (31.5 MB). The editor started using all of my CPU and making my macbook overheat, so I went into the activity monitor and force killed the process. Now whenever I open XiEditor it has that previous session cached and attempts to open the large file again, thus causing it to crash and forcing me to kill the process again. Is the

[2018-11-08 22:33] scholtzan commented on #336
The application state, such as opened documents is for me saved in `~/Library/Saved Application State/com.levien.XiEditor.savedState/`. I think deleting the files there should reset it.

But generally opening large files should not have this effect. Someone should look into that. So thanks a lot for letting us know!

[2018-11-08 23:02] blipson commented on #336
Cleared that directory and was able to open XiEditor without problems!

[2018-11-09 03:56] #328 closed

[2018-11-09 04:00] cmyr commented on #336
word wrap is actually working reasonably well at the moment, although performance still isn't quite where we'd want it to be. Files with no newlines are likely still a problem, though.

[2018-11-09 12:30] SCdF opened #339 "error: value of type '[NSDocument]' has no member 'compactMap'"
Apologies if this is my fault, but it doesn't look like master compiles right now and I think I've done everything right

[code]

[2018-11-09 14:15] blipson commented on #336
It does have excessively long individual lines. Each line has about 17,500 characters. It's a series of inserts to a database with 731 columns (don't ask). How do you disable word wrap? I could see if that helps.

[2018-11-09 14:18] blipson commented on #336
Found it in the settings. I already had it disabled, so that's not the issue.

[code]

[2018-11-09 15:08] cmyr commented on #339
@SCdF I suspect this is a swift version difference? Can you try updating your Xcode to at least 9.4?

[2018-11-09 15:09] cmyr commented on #336
Yea, this sounds like #20.

[2018-11-09 15:38] SCdF commented on #339
Ahh, damn. I'm guessing if there is no compatible upgrade on the App Store I'm on the latest right?

I'm still on Sierra, and don't think I can upgrade any time soon. (high sierra sounded really unstable when it came out and I can't find an iso for it anymore, and Mojave drops acceptable font rendering for external non retina monitors, and I tried it for like 20 minutes before my eyes started blee

[2018-11-09 16:10] cmyr commented on #339
As a hack you could try just patching locally, replacing the line in question with `.map { $0 as! Document }` or something? Our support target is 'the last two macOS releases' but I don't see any reason to break over something this minor so if that fixes your situation we'd definitely accept a PR.

[2018-11-09 16:19] cmyr commented on #279
closed in #289

[2018-11-09 16:19] #279 closed

[2018-11-09 17:34] SCdF commented on #339
@cmyr changing that caused the compilation to succeed. Thanks for the help! I created a PR linked above

[2018-11-09 23:59] mmatoszko opened #342 "When to update the xi-core submodule?"
Since `xi-editor` is a submodule of `xi-mac` now, we might need to establish a process of updating the commit of the subproject in the `xi-mac` repo.

If the subproject commit hash won't get updated people who clone the project using:
`git clone --recurse-submodules https://github.com/xi-editor/xi-mac` might be using older version of `xi-editor`, and this might cause some unexpected issues.

[2018-11-10 15:01] AlanFoster commented on #306
@MartinJrP Go ahead :+1:

[2018-11-10 16:10] cmyr commented on #342
Yep this is a good question.

- We could say that any PR to xi-mac should update xi-editor if it's behind
- We could update xi-editor 'as needed', say every week or so

Certainly any time feature support is being added to xi-mac, the xi-editor revision should be updated to include the new feature.

[2018-11-10 16:13] cmyr commented on #306
@MartinJrP welcome, look forward to a PR! If you have any questions about process or anything else feel free to drop by http://xi.zulipchat.com. ✌️

[2018-11-14 09:07] mmatoszko commented on #339
Can we close it?

[2018-11-14 09:17] SCdF commented on #339
Yep, the linked PR was merged and solved the compilation problems in XCode 9.2.

[2018-11-14 09:17] #339 closed

[2018-11-15 16:49] cmyr opened #349 "Find menu can end up in invalid state"
Not totally sure what is causing this, but it's happened to me when trying to use cmd+D; sometimes I end up with two find fields, where the first one no longer does anything and the second one behaves oddly.

<img width="516" alt="screen shot 2018-11-15 at 11 44 48 am" src="https://user-images.githubusercontent.com/3330916/48567930-47c70d80-e8cc-11e8-8fd3-f070428a1c2f.png">

I have a screenshot bu

[2018-11-15 23:12] scholtzan opened #351 "Segmented controls have wrong color for dark theme"
When using a dark theme, the segmented controls in the find menu look much darker than the other buttons:

![screenshot 2018-11-15 at 15 06 06](https://user-images.githubusercontent.com/1239705/48587639-c5991200-e8e8-11e8-8684-cac46520eeb8.png)

[2018-11-17 00:37] cmyr commented on #275
closed by #350.

[2018-11-17 00:37] #275 closed

[2018-11-18 14:12] mmatoszko opened #355 "Unnecessary new lines when opening a file"
1. Set `word_wrap = true`
2. Open a file [no-newlines.txt](https://github.com/xi-editor/xi-mac/files/2592816/no-newlines.txt)
3. There are too many new lines

example:
![no-newlines](https://user-images.githubusercontent.com/2045823/48673655-fde85c80-eb43-11e8-94d1-03cb99e707d7.gif)

Everything looks good when the user changes tab, or resizes the window.

According to the discussion in [zulip](htt

[2018-11-19 16:08] #298 closed

[2018-11-20 21:56] mmatoszko commented on #320
Can we close that?

[2018-11-20 21:58] cmyr commented on #320
yea, thanks @mmatoszko!

[2018-11-20 21:58] #320 closed

[2018-11-21 16:35] cmyr opened #356 "Width for word wrap calculated incorrectly?"
It's possible this is a core bug, but my initial suspicion is that it's in xi-mac.

Sometimes, with `word_wrap = true` in the config, it seems that the width used when calculating the word wrap is too small, and we end up with lines wider than the view.

While this is possible when a single long line has no suitable break points, it should be impossible when a breakpoint is available.

![wrap_clip

[2018-11-21 16:44] cmyr opened #357 "Use background color as gutter color when not provided by theme"
Currently if a theme does not contain a `gutter` item, we replace it with the `gutter` item from the default theme. I think it makes more sense to replace it with the `background` item from the selected theme.

This is a simple fix in `Themes.swift`.

[2018-11-21 17:21] liamrosenfeld commented on #313
[Heres](#358) the CLI PR. It currently still needs --wait functionality.

[2018-11-23 00:46] jeremywiebe commented on #349
I haven't figured out why yet, but I was able to repro easily after a few tries.  The stack trace seems to point to it being a response from core that is triggering this.  The status object that's coming from the server looks like this:

[code]

![image](https://user-images.githubusercontent.com/77138/48925206-fc859f80-ee75-11e8-839f-6fbbc603ee03.png)

[2018-11-23 02:16] cmyr commented on #349
Maybe @scholtzan has some ideas?

[2018-11-23 03:01] scholtzan commented on #349
Looking into it

[2018-11-23 22:35] jeremywiebe commented on #349
I hacked together some logging for communication in both directions and reproduced it. Does this log help?  This time it took me a bit to reproduce, but at the end I did... so the first 3/4 of the log might not be useful! :)

[code]

[2018-11-24 06:44] scholtzan commented on #349
@jeremywiebe Thank you so much! This actually helped a lot and now I can more or less reproduce it:
cmd + d → cmd + f → esc → esc → esc → cmd + f resulting in two search fields.

The problem seems to be `cancel_operation`. The `Cancel` RPC command leads to removing all `Find`s in the core. I supect that this causes some weird inconsistency between finds in core and finds in the frontend. I will di

[2018-11-27 22:33] #355 closed

[2018-11-29 21:49] scholtzan opened #364 "Open file when drag and dropped into editor window"
If a file is drag & dropped from a file manager into the editor window, then the file should be opened. It currently only works if a file is drag & dropped on the xi-editor icon.

[2018-11-29 22:26] scholtzan opened #365 "Indicator for unsaved changes"
It would be useful to have some kind of indicator to show that files have unsaved changes. This would especially be useful when working on several files at the same time. Maybe there could be some kind of indicator in each file tab.

[2018-11-30 00:33] scholtzan commented on #351
When changing "Appearance" for the view in `Find View Controller` from "Inherited" to "Dark Mode" then it is rendered correctly. However, this will break rendering the search bar for bright themes.

[2018-11-30 03:31] scholtzan commented on #365
Yeah, it would be nice to see it for all open files, not just for the active one.

[2018-11-30 03:46] jansol commented on #365
The file icon is also dimmed when there are edits, but yeah it's not visible when the window is not focused...

[2018-12-01 19:52] SundarTM opened #366 "Extra characters while inputting Tamil Text"
While Inputting Tamil text with compound letters (கா, கி, etc.), Xi-editor generates additional characters.
The rpc log collected shows that xi-mac making redundant duplicate rpc calls for each compound character insertion.
This causes extra characters to be left in the text.

**Steps to recreate:**
- Enable Tamil99 Keyboard in Input sources
- Press following keys -> hqhslkf
- Expected text -> காக

[2018-12-03 19:54] cmyr commented on #366
Okay looking at this a bit more, there's something strange happening in our IME handling: our fn `replaceCharactersInRange:` is being called twice, first by `setMarkedText` and then again by `insertText`; and since the actual insertion is handled in `replaceCharactersInRange`, that's being called twice as well.

The next step here is to go re-read whatever docs are available on the `NSInputClient`

[2018-12-04 00:56] tzvipm commented on #252
Hey, I noticed that some work was started on this here: https://github.com/xi-editor/xi-mac/pull/262. Since it hasn't been touched in a while, I presume it's safe for me to take a stab at it?

[2018-12-04 00:59] jansol commented on #252
Sure, the existing work was actually meant as a starting point for someone interested, since I wasn't sure about some relevant details when creating this issue.

[2018-12-04 18:31] cmyr commented on #290
@terhechte great! If you'd like to chat about this we've set up a zulip instance at http://xi.zulipchat.com.

[2018-12-05 17:30] #366 closed

[2018-12-06 20:48] cmyr commented on #281
What surprises me here is that `NSDocument` doesn't handle the filtering of non-existent files; I sort of suspect that it does by default (this should be easy to test?) but maybe we're disabling it somehow?

In any case, I agree it doesn't make much sense to do a bunch of work on this if we're going to throw it away. That said, maybe it's worth starting a list somewhere of the  various features we

[2018-12-08 19:20] cmyr opened #371 "explicitly set RUST_BACKTRACE=1 for xi-core process"
We probably _always_ want our logs to include backtraces; it makes sense that we hard-code setting this environment variable before starting `xi-core`.

This should be straight forward. in `RPCSending.swift`, before launching the process, we'll want to set `task.environment["RUST_BACKTRACE"] = "1"`.

[2018-12-11 03:05] #313 closed

[2018-12-12 04:00] #371 closed

[2018-12-12 06:09] jansol opened #375 "Populate new config file with defaults"
Currently when no config file is present and the user hits `cmd+,` xi-mac appears to do nothing and silently creates an empty config file. Instead, it should create a config file with the current config and open that.

[2018-12-12 06:39] jansol commented on #375
Speaking of which, we probably should either a) switch the config file name to something ending in `.toml` or b) move to NSUserDefaults and a config GUI like a proper macOS application.

[2018-12-12 14:48] cmyr commented on #375
yea, it would be nice if we had something like json-schema so that we could autocomplete config values / provide validation, at least.

[2018-12-13 17:23] cmyr opened #376 "crash on command-D"
This is on master-master; if I key <kbd>cmd</kbd><kbd>D</kbd> on any word in a new window I'll get a crash. This is new in the past week or so, so maybe related to #317?

[2018-12-13 21:02] scholtzan commented on #376
Oh no. I'll take a look.

[2018-12-13 21:09] scholtzan commented on #376
Mh, currently, I cannot reproduce this. So you are just opening a new window and do cmd+D?

[2018-12-13 21:10] cmyr commented on #376
yea... it's possible I'm running a weird combination of branches, but shouldn't be any changes in xi-mac? Let me try again, i'm on a different computer now.

[2018-12-13 21:14] scholtzan commented on #376
Oh, now I can reproduce it. Was on the wrong branch. And yes, looks like a marker bar issue

[2018-12-13 21:33] #376 closed

[2018-12-13 21:37] scholtzan opened #378 "Improve json parsing for findStatus"
The find status parsing in `findStatus` could use some cleanup.

[2018-12-14 23:20] mmatoszko commented on #378
Seems pretty straightforward, I would love to work on that one 😃

[2018-12-16 03:00] jansol opened #381 "CLI should support opening multiple files at once"
When passing the cli multiple files as arguments, only one gets actually opened.

[2018-12-16 20:56] scholtzan opened #383 "Last line disappears while typing"
I am not sure if this is a bug in xi-mac or core, but when I create a new document then the last line disappears while typing (except if it is the very first line in the document).

[2018-12-16 20:59] cmyr commented on #383
hmm this might be related to some of my recent changes, will take a look

[2018-12-16 22:47] tzvipm commented on #252
For the next step here, I'd like to get a folder set up with `.md` files that we can somehow compile into a help bundle. I'll ping you (@jansol)  on zulip to discuss possible approaches, and then post a summary here for reference before opening a PR.

[2018-12-17 00:06] cmyr commented on #383
@scholtzan want to give this a shot? https://github.com/xi-editor/xi-editor/pull/1049

[2018-12-17 00:39] #383 closed

[2018-12-17 23:53] mmatoszko commented on #102
Here are some benchmarks for the actual state of things:
https://flight.school/articles/benchmarking-codable/

I think we should give `Codable` a try just around Swift 5 ;)

[2018-12-18 15:10] #378 closed

[2018-12-18 16:43] jansol commented on #171
Fixed in xi-editor/xi-editor#892 and #292

[2018-12-18 16:43] #171 closed

[2018-12-18 17:07] jansol commented on #315
I have no idea how to even start benchmarking the actual text painting though.

[2018-12-18 18:06] jansol opened #388 "Always highlight the current line number in the gutter"
## Current Behavior
The number(s) of line(s) containing one or more cursors are highlighted in the gutter. However line wrapping introduces "visual" lines which are actually part of the previous line and don't get a line number in the gutter. Moving the cursor to such a line causes no highlight to appear in the gutter at all.

## Expected Behavior
The line number at the beginning of the physical l

[2018-12-19 06:36] jansol opened #389 "Connecting an external mouse causes marker layer to get obscured"
When connecting an external mouse, the on demand scroller is replaced by a permanent one that for some reason has a solid black or white background (depending on the syntax theme although it definitely is not the background color of said theme). The scroller layer that controls the opacity of the marker layer never gets any opacity events in this case, however even when setting the marker layer's

[2018-12-22 05:32] #306 closed

[2018-12-28 13:22] rakaramos commented on #261
@cmyr is this still an issue? I see couple of PR's referencing it....

[2018-12-28 17:08] #357 closed

[2018-12-28 23:15] cmyr commented on #260
yep, thanks :)

[2018-12-28 23:15] #260 closed

[2018-12-28 23:15] cmyr commented on #261
@rakaramos this has never had good reproduction, so happy to close it for now, we can reopen if it comes up again.

[2018-12-28 23:15] #261 closed

[2018-12-30 04:18] #388 closed

[2018-12-30 07:41] rlziii commented on #365
I am currently in the process of working to fix this.  However, I am unsure what kind of indicator to display.  It seems as though tabs of an NSWindow cannot be stylized (it requires a String and does not allow for NSAttributedString), which throws away my initial idea of *italicizing* the titles of unsaved tabs.  I also considered simply adding " -- edited" at the end of each tab's title where ap

[2018-12-30 12:16] jansol commented on #365
An indicator I see a lot is an asterisk (`*`) instead of a middle dot, but I admit the dot looks a bit cooler. Doesn't it have a larger variant too? This one is a bit too easy to overlook still.

[2018-12-30 15:39] cmyr commented on #365
Hmm.

In the long term we would like to move away from NSDocument, and find another solution for tabs, so we can do something fancier then. I think that for now something simple is reasonable.

[2018-12-30 15:58] rlziii commented on #365
I was able to find a "larger" middle dot in the form of a bullet (`•`).  For now I have opened a merge request with that symbol for the indicator.

[2018-12-30 15:59] cmyr commented on #365
@rlziii cool, i'm just finishing up some other stuff but will be able to take a look shortly. Thanks!

[2019-01-03 15:35] jansol opened #411 "Scrolling with an external mouse is very janky"
When scrolling with the wheel of an external mouse, instead of smooth scrolling like when swiping on the touchpad, I get a couple of "ticks", then the view stops for a second, and then jumps to the final location.

It's a cheap wireless mouse and I use Scroll Reverser with it, but other applications don't have this problem so I doubt it's related to that.

[2019-01-07 18:06] #365 closed

[2019-01-10 08:09] tenhow opened #416 "suggest adding autosave funciton"
Wish an autosave function. Sometimes crash may cause losing all the data in a temp file.

[2019-01-10 08:14] jansol commented on #416
State restoration (xi-editor/xi-editor#939) should solve this.

[2019-01-12 06:10] jansol commented on #267
Closing this as nobody has reported being able to reproduce this and there has been a good bit of work on the find bar since. Please reopen if the bug resurfaces.

[2019-01-12 06:10] #267 closed

[2019-01-12 06:15] jansol commented on #271
Can't see any flashes. Has this been fixed?

[2019-01-12 14:56] ryanbloom commented on #271
@jansol I'm still seeing it if I repeatedly press ⌘T. It might be more noticeable with a theme like Solarized light where the gutter is a different color from the background.

[2019-01-12 14:58] jansol commented on #271
Ah, indeed. It's just not visible in new *windows* because of the opening animation.

[2019-01-15 17:47] cmyr commented on #416
Yea, this is really a core issue, but it is on the list!

[2019-01-15 17:47] #416 closed

[2019-01-17 05:15] jansol commented on #291
Closing this in favor of the original icon issue due to lack of activity.

[2019-01-17 05:15] #291 closed

[2019-01-17 05:17] jansol commented on #158
Closing as there haven't been any reports of this occurring any more and I can't reproduce the issue either.

[2019-01-17 05:17] #158 closed

[2019-01-20 22:52] #381 closed

[2019-01-24 06:40] jansol opened #419 "Crash in rendering code when double or triple clicking"
Not sure what exact circumstances cause this, but a file has been open in xi-mac for a long time (days) it seems to inevitably go into a state where double or triple clicking somewhere in the text view causes the frontend to crash. I haven't gotten around to reproducing the crash with a build connected to the Xcode debugger but here's a trace from the macOS crash report:

[code]

Given how long th

[2019-01-24 17:49] cmyr commented on #419
Yea, that's no fun. Do you have the full crash report by any chance?

[2019-01-25 03:11] jansol commented on #419
Here you go, although I'm not sure what you are hoping to find:

[code]

[2019-01-25 16:12] cmyr commented on #419
Just curious about the exception type and about the state of other threads.

[2019-01-25 17:58] #364 closed

[2019-01-31 08:35] jansol opened #424 "Can't open files after accidentally trying to open a directory"
What it says on the tin. Trying to open a directory using the command line causes xi-mac to activate but seemingly do nothing. Additionally further attempts to open actual files via the command line or the GUI seem to do nothing at all.

[2019-02-01 10:23] PhilCai1993 opened #425 "git commit message not highlighted automatically"
# Xi-Mac Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

_If your issue is a build or runtime error, please include the following:_
- macOS 10.14.1
- commit id`6b9e13983b1ed6a862f0e2ad0d66ee54148b286f`

## Expected vs Actual
After set xi as git editor using `git config --global core.editor 'xi --wait'`, and when

[2019-02-02 15:01] cmyr commented on #425
@PhilCai1993 this should have been fixed recently, with https://github.com/xi-editor/xi-editor/issues/1096. Can you check this with master/master and see if it's still an issue?

[2019-02-03 03:55] PhilCai1993 commented on #425
@cmyr It works

[2019-02-03 03:55] #425 closed

[2019-02-04 20:53] cmyr opened #426 "crash when reviewing changes on close"
Haven't tried to reproduce this; just came across it after being prompted to review my unsaved changes after quiting with <kbd>cmd</kbd><kbd>Q</kbd>.

There were two documents with unsaved changes; this crash occurred after saving the first.

Feels like a race; some update is coming in after the save, and the document is closed and we're trying to use an invalid index? I'm not totally sure about t

[2019-02-04 21:45] scholtzan commented on #426
Yeah, I can reproduce this (and think I have encountered this before, but didn't investigate further).

[2019-02-05 04:41] scholtzan commented on #426
Huh, that was easier to fix than expected: https://github.com/xi-editor/xi-mac/pull/427

[2019-02-05 18:01] #426 closed

[2019-02-05 18:16] sharaththegeek commented on #424
Since Xi Editor does not have a Side Bar view like other editors (The other editors handle opening of folders on Command Line by displaying the folder in the Side Bar), I would like to hear suggestions on how we can handle this issue.

My proposal is that unless we intend to create a Side Bar in the near future, we can provide a fix by launching the Open Dialog Box of Xi Editor displaying the fold

[2019-02-05 18:39] sharaththegeek commented on #351
Were any changes made to the UI after the opening of this issue? When I try to use a dark theme, I find that the find menu is still using a normal theme!! The inconsistency in the colours is very unsettling.

<img width="600" alt="screenshot 2019-02-06 at 12 07 22 am" src="https://user-images.githubusercontent.com/33923577/52296019-568d0000-29a3-11e9-95bc-d8ffaf2e8fc8.png">

[2019-02-05 18:57] scholtzan commented on #351
Mmh, that looks like it's a bug. It should change to the dark theme...

[2019-02-06 03:35] sharaththegeek commented on #351
@ryanbloom Thanks! I hadn't set that in the config file. Works now!
Wouldn't it be better if it were set to true by default?

[2019-02-06 03:39] jansol commented on #424
A side bar is planned, but currently waiting for some bigger rewrites. This issue is not about actually handling directories, but about not being able to open *anything* after trying to do that.

[2019-02-06 04:03] jansol commented on #351
That would be inconsistent with the rest of the system. A better default would be reviving #287 and following the system setting on dark vs light mode.

[2019-02-07 03:50] jansol commented on #315
@raphlinus do you have some concrete steps for benchmarking Mojave's text painting? (I'm guessing via NSTextView) I should have time to look into this a couple of weeks down the road.

[2019-02-08 04:23] scholtzan opened #429 "Warning after renaming file pops up each time on save"
After renaming an open file, when saving the popup saying **This document has been renamed to ...** shows up each time. I think it would be better to show it only once after the document has been renamed.

[2019-02-08 15:53] raphlinus commented on #315
The quick answer is no, not NSTextView, that's too high level, we need to create an NSMutableAttributedString, then [create](https://developer.apple.com/documentation/coretext/1509461-ctlinecreatewithattributedstring) a CTLine from that, and finally draw lots of CTLine's in a custom NSView.

Another interesting thing about benchmarking is that in a software renderer, black-on-white is a special ca

[2019-02-08 15:56] jansol commented on #315
Just to make sure, would we still be using NSTextView for xi-mac in the end if the CTLine thing is fast? Otherwise there isn't much point as we would still have to deal with the IME stuff ourselves.

[2019-02-08 18:59] raphlinus commented on #315
No, I don't think we can use NSTextView, as I think takes over too many functions we need to hook directly. Likely we would continue using a custom view.

[2019-02-10 23:12] scholtzan opened #433 "Fatal error: Can't form Range with upperBound < lowerBound"
I selected some text in a large document (https://raw.githubusercontent.com/xi-editor/test-data/master/the-golden-boys.txt), scrolled down a little and tried to select some other text (starting at the end of the selection moving the cursor up):

[code]
in `convertRange` in `StyleMap`.

[2019-02-10 23:14] scholtzan commented on #433
Sometimes it also already happens during the first selection attempt

[2019-02-10 23:14] cmyr commented on #433
So is this in Swift land?

[2019-02-10 23:21] scholtzan opened #434 "Selections sometimes not rendered at the end of the line"
There are some issues with rendering selections. When selecting a paragraphs sometimes selections do not go until the end of some lines although they should be.

Here a screenshot of what is a single large selection with missing pieces in some lines (indicated in red):
<img width="739" alt="screenshot 2019-02-10 at 3 17 01 pm" src="https://user-images.githubusercontent.com/1239705/52541203-3a90b20

[2019-02-10 23:24] scholtzan commented on #433
I don't know if it's related, but I also get this warning a lot: `stylemap can't resolve 8`

[2019-02-10 23:40] scholtzan commented on #433
Or maybe the document is weird? I can't reproduce it anywhere else.

[2019-02-10 23:55] cmyr commented on #433
no more info in the error? We use ranges to describe the visible lines, I'm not sure what else we use them for.

[2019-02-11 00:05] scholtzan commented on #433
<img width="964" alt="screenshot 2019-02-10 at 4 04 45 pm" src="https://user-images.githubusercontent.com/1239705/52541755-9fe7a180-2d4d-11e9-931b-57f304dc4ad2.png">

Stack traces:

[code]

[2019-02-11 00:06] cmyr commented on #433
Okay, so the issue is the the range has negative length. I'm not sure what this means.

[2019-02-11 00:09] cmyr commented on #433
EditView:517:

[code]

so our annotation's start is greater than its end; that's originating in core somehow.

[2019-02-11 01:04] cmyr commented on #434
First question is whether these selections are being sent by core?

[2019-02-11 07:31] scholtzan commented on #433
Mmh, I'll look into this a bit more. For now what I could find out is that sometimes the selection region start > end, which gets transformed into an annotation causing these problems.

[2019-02-11 07:36] scholtzan commented on #434
The selections sent by core look correct. In the screenshot case, core sent one selection annotation covering the whole range. So I guess it's more of a frontend rendering issue.

[2019-02-11 12:06] ryanbloom commented on #434
Looks like it might have to do with calculating the width of non-ASCII characters? I notice all the problematic lines have a left or right quotation mark...

[2019-02-11 22:38] cmyr commented on #433
ah so we should be using `region.min()` and `region.max()` when forming the range/annotation.

[2019-02-11 22:39] cmyr commented on #434
Interesting observation @ryanbloom, doesn't really make any sense to me but sure looks suspicious.

[2019-02-12 18:39] ryanbloom commented on #434
Okay, I did a little more research. Quotation marks and apostrophes are 3 bytes in UTF-8, while the rest of the characters in this example are 1 byte. So if the code mixes up characters with bytes somehow, it would be off by 2 character widths for every quote/apostrophe in the line it's processing. That seems consistent with @scholtzan's screenshot.

Most likely we're passing a character offset to

[2019-02-13 01:02] scholtzan commented on #434
I found a way to fix it: https://github.com/xi-editor/xi-mac/pull/436 I am not entirely sure why it works that way though.

[2019-02-13 02:32] learning commented on #411
The `bounds.origin` didn't change when using the wheel on mouse, not sure why 🤔
[@EditViewController.swift Line 129](https://github.com/xi-editor/xi-mac/blob/master/Sources/XiEditor/EditViewController.swift#L129)

[2019-02-14 02:54] nangtrongvuon commented on #411
@jansol Do you know the DPI of this mouse and the sensitivities you had? I'll try to look into this.

[2019-02-15 21:15] cmyr commented on #419
Okay, I think I've maybe hit this as well? In my case it felt like I was dragging when I crashed:

[code]

[2019-02-17 17:20] #434 closed

[2019-02-18 02:53] nangtrongvuon commented on #433
I feel like this should get closed, but at the same time @mmatoszko says this bug might resurface again in Swift 5. Should this issue be updated for that?

[2019-02-18 03:55] nangtrongvuon commented on #429
I believe this no longer occurs, and instead xi can't edit the file anymore if the file is renamed while it's open (until the user presses save again).

[2019-02-18 19:41] mmatoszko commented on #433
I think it's reasonable to close it right now and come back to it in case it resurfaces 😅

[2019-02-19 00:56] #433 closed

[2019-02-19 06:13] jeremywiebe commented on #102
I've done some work to re-test with Swift 5. Here's the code with results in the `README`. It doesn't look to have improved too much, but for a true comparison it'd probably be best to run all of the benchmarks on the same machine.

https://github.com/jeremywiebe/json-performance

[2019-02-20 15:52] raphlinus commented on #102
Since the IRC log linked above is no longer online, here are the links to the code gists: [Decodable.swift](https://gist.github.com/raphlinus/3d80ab00eed7cd2690b14b7b686938ee) [ObjCLike.swift](https://gist.github.com/raphlinus/6b0a7c54b563d9fe3b0cd1a1c87f9357) [OldJson.swift](https://gist.github.com/raphlinus/4e1539d1fdbab40586729e08ddc97f82) [data sample](https://gist.github.com/raphlinus/d346636

[2019-02-21 06:21] #424 closed

[2019-02-28 03:06] hfzhang31 commented on #429
After renaming an open file, my xieditor doesnt show any tip, it just save the file as another new file. I think the editor should change the file name after renaming like typora and other editors( or it is just what it should do?).

[2019-03-12 18:28] favetelinguis opened #446 "Unable to clone repo"
Trying to run the suggested command:

`git clone --recurse-submodules https://github.com/xi-editor/xi-mac
`

Results in the following error:

[code]

[2019-03-12 18:42] jansol commented on #446
Huh, did someone do a force push on the xi-editor repo recently? Looks like it's failing here too. To fix that the submodule needs to be updated to point to a valid commit again.

As a workaround you can clone without the `--recurse-submodules` bit and do a separate clone of the xi-editor repo into the corresponding directory. You'll want to wipe your copy and re-clone once the submodule is fixed

[2019-03-13 04:11] nangtrongvuon commented on #446
@scholtzan `ce5f7ec43f24a54c16a6e20a8d0e9ea4fd90f5f5` points to one of your old commits. Perhaps you didn't add the xi-editor submodule when merging the case sensitive PR?